<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	<meta charset="utf-8" />
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="yes" name="apple-touch-fullscreen"/>
	<meta name="viewport" content="width=device-width,maxinum-scale=1.0 initial-scale=1.0, user-scalable=0"/>
	<meta content="telephone=no" name="format-detection"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<script th:src="@{/static/lib/jquery/jquery.1.9.1.min.js}"></script>
	<script th:src="@{/static/mobile/js/auth.js}"></script>
	<link rel="stylesheet" th:href="@{/static/mobile/css/m.signup.css}"/>
	<title>VIPKID-美国小学在家上</title>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?5e1b9d2c20eff9c9278a43f0870f4593";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	</head>
	<body>
		<header>
			<a href="/" class="back">back</a>
			<h1 class="pageTitle">孩子信息</h1>
		</header>
		<form method="post" action="/mobile/childreninfo/save">
			<div class="subWaper">	
				<div class="subDiv">
					<input id="chineseName" class="sInput info-input" type="text" name="chineseName" placeholder="请输入孩子中文名"/>
				</div>
				<div class="subDiv">
					<input id="englishName" class="sInput info-input" type="text" name="englishName" placeholder="请输入孩子英文名，用于外教老师沟通"/>
				</div>
				<div class="subDiv">
					<input class="sRadio" type="radio" name="gender" value="girl" placeholder="女孩" id="childrenGirl" checked="checked"/>
					<label id="girl-label" for="childrenGirl" class="on">女孩</label>
					<input class="sRadio" type="radio" name="gender" value="boy" placeholder="男孩" id="childrenBoy"/>
					<label id="boy-label" for="childrenBoy">男孩</label>
				</div>
				<div class="subDiv sTime">
					<input class="sInput" type="date" name="birthday" id="sDate" value="2010-01-01" />
				</div>
			</div>
			<p id="child-info-error"></p>
			<input id="submit-button" class="subRegBtn" type="submit" value="保存"/>
		</form>
	
		<script type="text/javascript">
			var newdate = new Date();
		    var currentday = newdate.getFullYear()+"-"+(newdate.getMonth()+1)+"-"+newdate.getDate();
		    var inputDate = document.getElementById('sDate');
		    inputDate.onfocus = function(){
		        this.removeAttribute('placeholder');
		    };
		    inputDate.onblur = function(){
		        if(this.value == '') this.setAttribute('placeholder',currentday);
		    };
		
		</script>
	</body>
</html>