<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="yes" name="apple-touch-fullscreen"/>
<meta name="viewport" content="width=device-width,maxinum-scale=1.0 initial-scale=1.0, user-scalable=0"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<script th:src="@{/static/lib/jquery/jquery.1.9.1.min.js}"></script>
<script th:src="@{/static/mobile/js/auth.js}"></script>
<link rel="stylesheet" th:href="@{/static/mobile/css/m.signup.css}"/>
<title>VIPKID-美国小学在家上</title>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?5e1b9d2c20eff9c9278a43f0870f4593";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
	<header>
		<a href="/" class="back">back</a>
		<h1 class="pageTitle">设置新密码</h1>
	</header>
	<form method="POST" action="/mobile/forgetpassword2/finish">
		<div class="sDiv">
			<input id="forgetpassword2-username" type="hidden" name="username" th:value="${username}"/>
			<input id="forgetpassword2-verifyCode" class="sInputYzm" type="tel" name="verifyCode" placeholder="请输入验证码"/>
			<input type="button" id="forgetpassword2-getVerifyCode" class="yzmLink" value="获取验证码"/>
		</div>
		<div class="sDiv">
			<input id="forgetpassword2-password" class="sInput" type="password" name="password" placeholder="请设置6-16位新登录密码"/>
		</div>	
		<p id="forgetpassword2-errorMessage" class="sTips" style="display:none"></p>
		<p id="forgetpassword2-wrong-verifyCode" th:if="${forgetpassword2WrongVerifyCode}" class="sTips">验证码错误</p>
		<input id="forgetpassword2-finishButton" class="subRegBtn" type="submit" value="完成"/>
	</form>
</body>
</html>