<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
	  class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
<title>vipKid</title>
<meta name="viewport" content="target-densitydpi=get-target-densitydpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml;charset=utf-8" />
<meta http-equiv="Cache-Control" content="must-revalidate,no-cache" />
<meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=2.0;user-scalable=1" />
<link rel="stylesheet" th:href="@{../static/mobile/css/main.css}"/>
<script>
if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
	var version = parseFloat(RegExp.$1);
	if (version > 2.3) {
		var phoneScale = parseInt(window.screen.width) / 640;
		document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi"/>');
	} else {
		document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi"/>');
	}
} else {
	document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi"/>');
}
</script>
</head>
<body>
<header>
    <!-- <a href="javascript:;" class="mainMenu" title="菜单列表"><em>菜单列表</em></a> -->
    <span class="login"><a href="/mobile/login">登录</a><a href="/mobile/signup">注册</a></span>
</header>
<section class="kidLogo">
<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo.png}"/>
</section>
<a class="tel400" href="tel:4000056666" title=""><em></em><span>服务热线：400 - 005 - 6666</span></a>
<nav>
	<section class="navMain clearfix">
        <span>首页</span>
        <ul>
            <li><a href="index" title="首页">首页</a></li>
            <li><a href="teacher" title="外教团队">外教团队</a></li>
            <li><a href="teachmethod" title="教学方法">教学方法</a></li>
            <li><a href="curriculum" title="课程体系">课程体系</a></li>
            <li><a href="process" title="上课流程">上课流程</a></li>
            <li><a href="classDiary" title="课堂日志">课堂日志</a></li>
        </ul>
        <em></em>
    </section>
</nav>
<!-- 焦点图 start -->
<section class="swiper-container" id="m-focus">
    <section class="swiper-wrapper">
        <section class="swiper-slide">
            <div class="tmItem">
                <img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/01.jpg}"/><section class="mask"></section> <section class="mask-tt">美国小学  发挥孩子天性<br/>充分培养"应用力"和"创造力"</section>
            </div>
        </section>
        <section class="swiper-slide">
            <div class="tmItem"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/banner2.jpg}"/><section class="mask"></section> <section class="mask-tt">通过互联网，随时随地上课 <br/>自由选择老师</section>
            </div>
        </section>
        <section class="swiper-slide">
            <div class="tmItem"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/banner3.jpg}"/><section class="mask"></section> <section class="mask-tt">个性、沉浸、自由、趣味<br/>实现线上线下浸入式学习的终极体验</section>
            </div>
        </section>
    </section>
    <!-- Add Pagination -->
    <section class="swiper-pagination" id="m-pagination"></section>
</section>
<!-- 焦点图 end -->
    
    
<section class="advantage">
	<strong class="titleOne">我们的优势</strong>
    <ul>
    	<li>
        	<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_01.png}" alt="北美优质师资，教学品质保障" />
            <span>北美优质师资，教学品质保障</span>
            <p>100%北美优质师资，90%名校背景，经过VIPKID严格的师资甄选、培训、考核、淘汰机制，只留用最优秀的老师，录取率仅为30%。</p>
        </li>
        <li>
        	<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_02.png}" alt="约课方便，时间高效" />
            <span>约课方便，时间高效</span>
            <p>自由选择时间地点，随时约课、上课、查看课程回放，解放线下机构奔波之苦，节省时间进行更多学习探索，享受家庭时光。</p>
        </li>
        <li>
        	<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_03.png}" alt="沉浸式的学习体验" />
            <span>沉浸式的学习体验</span>
            <p>将教学融入到新奇有趣的分级冒险任务中，通过任务启发孩子不断运用所学知识，潜移默化的完成所学内容的消化吸收。</p>
        </li>
    </ul>
</section>
<section class="teacher">
	<strong class="titleOne">我们的老师</strong>
    <p class="clearfix"><em class="wCircle"></em><span>拥有丰富经验的北美外教</span></p>
    <p class="clearfix"><em class="wCircle"></em><span>90%的老师来自于世界排名前50名的学校</span></p>
    <!-- 焦点图 start -->
    <section class="swiper-container" id="t-focus">
        <section class="swiper-wrapper">
            <section class="swiper-slide" data-hash="slide1">
                <div class="tfItem">
                    <img src="http://resource.vipkid.com.cn/newhome/t1.jpg" />
                    <span>Joseph Turman</span>
                    <p>Joseph老师目前就读于北卡罗来纳大学教堂山分校。他精通英语、法语、西班牙语、阿拉伯语、立陶宛语等多国语言，并拥有多年教授5-6岁小朋友艺术、音乐和手工课程的经验。让爱阅读的他，经常在课堂上通过故事来激发孩子的学习兴趣。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide1">
                <div class="tfItem">
                    <img src="http://resource.vipkid.com.cn/newhome/t2.jpg" />
                    <span>Debbie Whitaker</span>
                    <p>Debbie老师是一名有着35年教学经验的在职美国小学教师。她的本科和硕士学位先后毕业于全美排名第46位的Bucknell大学和排名第18位的Rowan大学。Debbie老师喜爱阅读，也很有耐心。在教学中通过细腻富有情感的讲解，适时对孩子进行引导，令孩子享受到学习的乐趣。</p>
                </div>
            </section>  
            <section class="swiper-slide" data-hash="slide1">
                <div class="tfItem">
                    <img src="http://resource.vipkid.com.cn/newhome/t3.jpg" />
                    <span>Kimberly Grisé</span>
                    <p>Kimberly老师拥有教育语言专业学士和第二语言教育学硕士学位。Kimberly老师年轻时，曾赴古巴参与教学研究，毕业后在加拿大教授儿童英语和非英语母语国家的大学生英语课程。活泼有爱的Kimberly老师非常喜欢和小朋友一起通过音乐和手工学习英语。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide1">
                <div class="tfItem">
                    <img src="http://resource.vipkid.com.cn/newhome/t4.jpg" />
                    <span>Jojo Francisco</span>
                    <p>来自芝加哥的Jojo老师，毕业于德保罗大学双主修法语和会计。Jojo老师拥有超过24年的教学经验，学生遍及中国、日本、韩国、泰国、俄罗斯、巴西等多个国家。Jojo老师的教学方式可以孩子充分感受到课堂乐趣，通过轻松愉快的氛围传输正确的价值观和职业道德。</p>
                </div>
            </section>
        </section>
        <!-- Add Arrows -->
        <section class="swiper-button-next"></section>
        <section class="swiper-button-prev"></section>
    </section>
    <!-- 焦点图 end -->
    <a class="more" href="teacher" title="查看更多优秀教师"><span>查看更多优秀教师</span><em></em></a>
</section>


<section class="parents">
	<strong class="titleOne">VIPKID家长说</strong>
    <!-- 焦点图 start -->
    <section class="swiper-container" id="p-focus">
        <section class="swiper-wrapper">
           <section class="swiper-slide" data-hash="slide1">
                 <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p1.jpg" />
                        <section class="name"><span>甜甜爸爸</span> 创业投资人</section>
                    </section>
                    <p>
                    ‘在家上美国小学’的学习方式即快乐又高效。提供了基于家庭环境的更为自由的学习方式，孩子处于放松状态，家长也轻松愉快。基于网络一对一的外教，对于刚进入学习状态的孩子丝毫不存在适应性障碍，孩子非常喜欢她的老师。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide2">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p2.jpg" />
                        <section class="name"><span>YOYO妈妈</span> 外企高管</section>
                    </section>
                    <p>相比外教家教2次课1600的节奏，VIPKID的课程便宜太多了！而且免除舟车劳顿，和外教交流家长也不必守在身边，VIPKID太方便了！</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide3">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p3.jpg" />
                        <section class="name"><span>Tianna妈妈</span> 大学教师</section>
                    </section>
                    <p>Tianna特别喜欢VIPKID的上课模式，每次在电脑中看见老师来了就‘疯了’！整节课手舞足蹈一直跟着老师说英语。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide4">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p4.jpg" />
                        <section class="name"><span>Rachel妈妈</span> 医疗器械公司高管</section>
                    </section>
                    <p>选择VIPKID本来只是想通过轻松的方式培养Rachel的语感，没想到经过三个月的学习，孩子有了巨大的进步，每次看到Rachel努力和外教沟通的样子，我都特别欣慰！</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide5">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p5.jpg" />
                        <section class="name"><span>Michelle妈妈</span> 网络公司高管</section>
                    </section>
                    <p>VIPKID的老师各有千秋，有的幽默，有的特别温柔有耐心，上了几节课，也逐渐找到了Michelle喜欢的老师类型，可以选择孩子喜欢的老师上课这点非常好，Michelle上课越来越积极了！</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide6">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p6.jpg" />
                        <section class="name"><span>Jerry妈妈</span> 500强企业HR</section>
                    </section>
                    <p>在VIPKID上课，可以随时回放孩子的学习视频，了解孩子听力、口语和课程理解中的问题，然后交流复习。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide7">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p7.jpg" />
                        <section class="name"><span>Penny妈妈</span> 金融机构培训师</section>
                    </section>
                    <p>VIPKID教学服务非常到位，孩子上课全程有助教老师在监课，有一次误操作把摄像头关了，老师立即打电话过来，帮助恢复了正常授课。有他们在非常放心。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide8">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p8.jpg" />
                        <section class="name"><span>Jessica妈妈</span> 全职妈妈，外企高管</section>
                    </section>
                    <p>这种在本国生活工作的外教给孩子上课，和长期在中国生活的外教是有区别的，他们的口语更加纯正，不会过多估计中国孩子英语基础的条条框框。比如他们夸奖孩子表现好，每个人都喜欢用Awesome！而国内的外教就通常入乡随俗说Great、Wonderful。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide9">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p9.jpg" />
                        <section class="name"><span>Coco爸爸</span> 软件开发工程师</section>
                    </section>
                    <p>VIPKID的外教老师，对待孩子都十分热情，与孩子沟通毫无障碍，充满教学热情。口音清晰，语速也照顾中国孩子的水平，很少在对话中出现较为生僻的词汇和语句用法。</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide10">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p10.jpg" />
                        <section class="name"><span>James妈妈</span> 自由撰稿人</section>
                    </section>
                    <p>有一次朋友来家里，正好James在上课，他家儿子上的国际学校一年18万，感觉James的口语和他差不多，我好欣慰啊！</p>
                </div>
            </section>
            <section class="swiper-slide" data-hash="slide11">
                <div class="tpItem">
                    <section class="top clearfix">
                        <img src="http://resource.vipkid.com.cn/newhome/p11.jpg" />
                        <section class="name"><span>Crystal妈妈</span> 金融杂志主编</section>
                    </section>
                    <p>时间上也非常灵活，这是外面的很多培训机构没法比的 。我不用担心出去旅游会耽误她的学习，也不用担心上课会耽误她出去玩。最重要的是小朋友自己也非常喜欢，每周三次课可以让她有个持续的学习氛围和环境，这对学习语言很有好处。</p>
                </div>
            </section>
        </section>
        <!-- Add Pagination -->
        <section  class="p-num clearfix">
        	<section id="p-pagination"></section><span class="fl">/</span><span class="numAll fl">10</span>
        </section>
        <!-- Add Arrows -->
        <section class="swiper-button-next"></section>
        <section class="swiper-button-prev"></section>
    </section>
    <!-- 焦点图 end -->
</section>


<section class="problem">
	<strong class="titleOne">常见问答</strong>
    <ul class="commonAsk">
    	<li class="one"><span class="pic"><em class="one"></em></span><span class="t"><a href="javascript:;" rel="k0153u97gqv">中、美基础教育主要差别在哪里？</a></span></li>
        <li class="one"><span class="pic"><em class="two"></em></span><span class="t"><a href="javascript:;" rel="m0153gxioqi">我的孩子听不懂外教老师说什么怎么办？</a></span></li>
        <li><span class="pic"><em class="three"></em></span><span class="t"><a href="javascript:;" rel="c0153xrmgiv">美国小学课程能给孩子带来哪些优势？</a></span></li>
        <li><span class="pic"><em class="four"></em></span><span class="t"><a href="javascript:;" rel="y01538rabe4">VIPKID使用什么教材？如何评价教材的好坏？</a></span></li>
        <li class="one"><span class="pic"><em class="five"></em></span><span class="t"><a href="javascript:;" rel="t01535izluq">为什么说VIPKID的课程能帮孩子更有效的学习英语？</a></span></li>
        <li><span class="pic"><em class="six"></em></span><span class="t"><a href="javascript:;" rel="f0153yu84jt">每节课25分钟，时间是不是太短？</a></span></li>
        <li class="one"><span class="pic"><em class="seven"></em></span><span class="t"><a href="javascript:;" rel="c0153ybu913">孩子和母语为英语的老师学习，优势在哪里？</a></span></li>
        <li><span class="pic"><em class="eight"></em></span><span class="t"><a href="javascript:;" rel="q0153wgcr15">孩子内向不愿开口说话，怎样看到孩子的进步？</a></span></li>
    </ul>
</section>


<section class="believe">
	<strong class="titleOne">我们相信</strong>
    <ul>
    	<li class="one"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_06.png}" alt="" /><p>语言不光是孩子与世界沟通的工具，更是一扇接触不同文化的窗口。</p></li>
        <li class="two"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_07.png}" alt="" /><p>培养孩子幸福生活的能力，优先于‘知识的积累’。</p></li>
        <li class="three"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_08.png}" alt="" /><p>给孩子‘探索和试错’的空间，是保护好孩子对学习充满热情的核心。</p></li>
    </ul>
</section>

<section class="trust">
	<strong class="titleOne">信任与期待</strong>
    <img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_09.png}" alt="信任与期待" />
	<p class="clearfix"><em class="gCircle"></em><span>100%满意保证</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>30天无条件退款承诺</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>付费后，每位学员都会与VIPKID签订一份购买协议，我们向学员保障外教资质，和服务水平。</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>如果您和小朋友对购买后的课程或服务感到不满意，可以在交费后的30天内向我们提出“无条件退款”申请。</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>我们将以最快的速度将未消耗的课时，按照交款方式退还。</span></p>
</section>

<section class="enterprise">
	<ul class="clearfix">
    	<li><a href="http://www.forbeschina.com/review/201406/0033532.shtml"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_01.png}" alt="" /></a></li>
        <li><a href="http://www.wtoutiao.com/a/242742.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_02.png}" alt="" /></a></li>
        <li><a href="http://blog.sina.com.cn/s/blog_6dbc86af0101fqn2.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_03.png}" alt="" /></a></li>
        <li><a href="http://www.jmdedu.com/viewpoint/detail/575"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_04.png}" alt="" /></a></li>
        <li><a href="http://tech.163.com/14/0609/16/9UAHEAJH00094ODU.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_05.png}" alt="" /></a></li>
        <li><a href="http://v.qq.com/boke/page/o/y/j/o0129h4kmyj.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_06.png}" alt="" /></a></li>
        <li><a href="http://www.zuojing.com/201403/5045.shtml"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_07.png}" alt="" /></a></li>
        <li><a href="http://fudaoquan.com/p/4864.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_08.png}" alt="" /></a></li>
        <li><a href="http://power.internet2share.com/?p=754"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_09.png}" alt="" /></a></li>
    </ul>
</section>

<section class="regEntrance">
  <img class="kl" th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kl.png}" />
  <p>注册获得免费体验课</p>
  <a href="#" title=""><span>GO</span><em></em></a>
  <span class="close"></span>
</section>
<footer>Copyright (C)2010-2014 Inc. All rights reserved. </footer>

<section class="scrPop" id="listLeft" style="display:none">
    <section class="scrMenu">
        <section class="scrBack">
        	<a class="scrTitle clearfix" href="http://parent.vipkid.com.cn/lessonManagement/dashboard"><em></em><span>个人中心</span></a>
            <section class="scrRolling">
                <section class="scrList">
                	<ul>
                    	<li><a href="http://parent.vipkid.com.cn/lessonManagement/dashboard" title="约课"><em class="one"></em><span>约课</span></a></li>
                        <li class="active"><a href="http://parent.vipkid.com.cn/lessonManagement/dashboard" title="我的课表"><em class="two"></em><span>我的课表</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/learningOverview/takenClassList" title="已上课程"><em class="three"></em><span>已上课程</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/report/report" title="学习报告"><em class="four"></em><span>学习报告</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/services/orders" title="我的订单"><em class="five"></em><span>我的订单</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/services/parentProfile" title="个人资料"><em class="six"></em><span>个人资料</span></a></li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
    <section class="scrDown" id="canvas"></section>
</section>



<script th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/js/iZepto.js}"></script>
<script th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/js/main.js}"></script>
<script th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/js/swiper.min.js}"></script>
<script th:src="@{../static/lib/js.cookie.js}"></script>
<script th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/js/auth.js}"></script>
<script th:src="@{../static/mobile/js/mobile.packed.js}"></script>
</body>
</html>
