<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
	  class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
<title>教学方法</title>
<meta name="viewport" content="target-densitydpi=get-target-densitydpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml;charset=utf-8" />
<meta http-equiv="Cache-Control" content="must-revalidate,no-cache" />
<meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=2.0;user-scalable=1" />
<link rel="stylesheet" th:href="@{/static/mobile/css/main.css}"/>
<script>
if (/Android (\d+\.\d+)/.test(navigator.userAgent)) {
	var version = parseFloat(RegExp.$1);
	if (version > 2.3) {
		var phoneScale = parseInt(window.screen.width) / 640;
		document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi" />');
	} else {
		document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi" />');
	}
} else {
	document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi" />');
}
</script>
</head>

<body>
<header>
    <a href="javascript:;" class="mainMenu" title="菜单列表"><em>菜单列表</em></a>
    <span class="login"><a href="/mobile/login">登录</a><a href="/mobile/signup">注册</a></span>
</header>
<section class="kidLogo">
<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo.png}" />
</section>
<a class="tel400" href="tel:4000056666" title=""><em></em><span>服务热线：400 - 005 - 6666</span></a>
<nav>
	<section class="navMain clearfix">
        <span>教学方法</span>
        <ul>
            <li><a href="index" title="首页">首页</a></li>
            <li><a href="teacher" title="外教团队">外教团队</a></li>
            <li><a href="teachmethod" title="教学方法">教学方法</a></li>
            <li><a href="curriculum" title="课程体系">课程体系</a></li>
            <li><a href="process" title="上课流程">上课流程</a></li>
            <li><a href="classDiary" title="课堂日志">课堂日志</a></li>
        </ul>
        <em></em>
    </section>
</nav>
<!-- 焦点图 start -->
<section class="swiper-container" id="m-focus">
    <section class="swiper-wrapper">
        <section class="swiper-slide"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/04.jpg}" /><section class="mask"></section> <section class="mask-tt">为中国儿童量身打造的北美<br/>小学同步教学</section></section>
        
    </section>
    <!-- Add Pagination -->
    <section class="swiper-pagination" id="m-pagination"></section>
</section>
<!-- 焦点图 end -->
    
<section class="course">
	<strong class="titleOne">VIPKID为中国儿童量身打造</strong>
    <section class="titleTwo">与美国小学CCSS课程标准同步的原版教材</section>
    <ul>
    	<li class="one"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_12.png}" alt="语言艺术" /><span>语言艺术</span></li>
        <li class="two"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_13.png}" alt="数学" /><span>数学</span></li>
        <li class="three"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_14.png}" alt="科学" /><span>科学</span></li>
        <li class="one"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_15.png}" alt="独立思考" /><span>独立思考</span></li>
        <li class="two"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_16.png}" alt="团队协作" /><span>团队协作</span></li>
        <li class="three"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_17.png}" alt="领导力" /><span>领导力</span></li>
    </ul>
    <p>VIPKID结合美国小学CCSS课标体系，专为中国儿童自主研发了全套7个级别，适合5-12岁儿童的英语学科教材。采用美国小学现今的语言整合教育法，将语言艺术、数学、科学等跨学科内容和独立思考、团队协作、领导力等互联网时代技能融入英语学习，并通过学习成果评估体系，全程测评学习效果，培养儿童成为尊重他人、勇于探索、乐观自信、懂得团队协作、有责任感的21世纪小公民。</p>
    <section class="courseList courseSet">
		<strong class="titleThree">课程设置</strong>
        <p>原版课程为美国少儿设置。这些孩子具备天然的语言基础，所以原版课程的难度高，进度块。VIPKID通过重新编排和增加响应的练习、复习环节，使课程在不失内容精华的前提下，保证孩子的学习效果。</p>
    </section>
    <section class="courseList silu">
        <strong class="titleThree">教研思路</strong>
        <p>对于中国儿童来说，话题的熟悉程度影响着学习兴趣和效果。我们挑选了中国学生熟悉的话题，根据话题类型、能力目标进行精心编排。同时结合中国学生语言薄弱，学科强势的技能特点，剔除了数学、自然等低于国内学生能力水平的学科话题。</p>
    </section>
</section>

<section class="learning">
	<strong class="titleOne">Learning cycle学习法</strong>
    <img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_04.jpg}" alt="" />
    <img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_05.jpg}" alt="" />
    <section class="courseList standard">
        <strong class="titleThree">美国CCSS课程标准</strong>
        <strong class="titleFour"> —— 强调“能力的培养”</strong>
        <p>对于中国儿童来说，话题的熟悉程度影响着学习兴趣和效果。我们挑选了中国学生熟悉的话题，根据话题类型、能力目标进行精心编排。同时结合中国学生语言薄弱，学科强势的技能特点，剔除了数学、自然等低于国内学生能力水平的学科话题。</p>
    </section>
</section>

<section class="adStandard">
	<strong class="titleOne">CCSS标准的优势</strong>
    <ul>
    	<li class="one">
        	<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_20.png}" alt="" />
            <strong class="titleThree">标准统一</strong>
            <p>为学生提供了统一的要求，中国学生可以参照此标准，接受与美国学生同质量的教育。</p>
        </li>
        <li class="two">
        	<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_21.png}" alt="" />
            <strong class="titleThree">标准统一</strong>
            <p>为学生提供了统一的要求，中国学生可以参照此标准，接受与美国学生同质量的教育。</p>
        </li>
        <li class="three">
        	<img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_22.png}" alt="" />
            <strong class="titleThree">标准统一</strong>
            <p>为学生提供了统一的要求，中国学生可以参照此标准，接受与美国学生同质量的教育。</p>
        </li>
    </ul>
</section>

<section class="trust">
	<strong class="titleOne">信任与期待</strong>
    <img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kid_09.png}" alt="信任与期待" />
	<p class="clearfix"><em class="gCircle"></em><span>100%满意保证</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>30天无条件退款承诺</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>付费后，每位学员都会与VIPKID签订一份购买协议，我们向学员保障外教资质，和服务水平。</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>如果您和小朋友对购买后的课程或服务感到不满意，可以在交费后的30天内向我们提出“无条件退款”申请。</span></p>
    <p class="clearfix"><em class="gCircle"></em><span>我们将以最快的速度将未消耗的课时，按照交款方式退还。</span></p>
</section>

<section class="enterprise">
	<ul class="clearfix">
    	<li><a href="http://www.forbeschina.com/review/201406/0033532.shtml"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_01.png}" alt="" /></a></li>
        <li><a href="http://www.wtoutiao.com/a/242742.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_02.png}" alt="" /></a></li>
        <li><a href="http://blog.sina.com.cn/s/blog_6dbc86af0101fqn2.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_03.png}" alt="" /></a></li>
        <li><a href="http://www.jmdedu.com/viewpoint/detail/575"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_04.png}" alt="" /></a></li>
        <li><a href="http://tech.163.com/14/0609/16/9UAHEAJH00094ODU.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_05.png}" alt="" /></a></li>
        <li><a href="http://v.qq.com/boke/page/o/y/j/o0129h4kmyj.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_06.png}" alt="" /></a></li>
        <li><a href="http://www.zuojing.com/201403/5045.shtml"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_07.png}" alt="" /></a></li>
        <li><a href="http://fudaoquan.com/p/4864.html"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_08.png}" alt="" /></a></li>
        <li><a href="http://power.internet2share.com/?p=754"><img th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/logo_09.png}" alt="" /></a></li>
    </ul>
</section>

<section class="regEntrance">
  <img class="kl" th:src="@{http://resource.vipkid.com.cn/parent_home/static/mobile/image/kl.png}" />
  <p>注册获得免费体验课</p>
  <a href="#" title=""><span>GO</span><em></em></a>
  <span class="close"></span>
</section>
<footer>Copyright (C)2010-2014 Inc. All rights reserved. </footer>




<section class="scrPop" id="listLeft" style="display:none">
    <section class="scrMenu">
        <section class="scrBack">
        	<a class="scrTitle clearfix" href="http://parent.vipkid.com.cn/lessonManagement/dashboard"><em></em><span>个人中心</span></a>
            <section class="scrRolling">
                <section class="scrList">
                	<ul>
                    	<li><a href="http://parent.vipkid.com.cn/lessonManagement/dashboard" title="约课"><em class="one"></em><span>约课</span></a></li>
                        <li class="active"><a href="http://parent.vipkid.com.cn/lessonManagement/dashboard" title="我的课表"><em class="two"></em><span>我的课表</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/learningOverview/takenClassList" title="已上课程"><em class="three"></em><span>已上课程</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/report/report" title="学习报告"><em class="four"></em><span>学习报告</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/services/orders" title="我的订单"><em class="five"></em><span>我的订单</span></a></li>
                        <li><a href="http://parent.vipkid.com.cn/services/parentProfile" title="个人资料"><em class="six"></em><span>个人资料</span></a></li>
                    </ul>
                </section>
            </section>
        </section>
    </section>
    <section class="scrDown" id="canvas"></section>
</section>

<script th:src="@{/static/mobile/js/iZepto.js}"></script>
<script th:src="@{/static/mobile/js/main.js}"></script>
<script th:src="@{/static/mobile/js/swiper.min.js}"></script>

<script type="text/javascript">	
	var canvas = document.getElementById("canvas");
	function touchStart(event) {closeLeft();}
	canvas.addEventListener("touchstart", touchStart, false);
</script>
</body>
</html>
