#kkpager{
	width:95%;
	clear:both;
	color:#999;
	margin:15px 30px 15px 10px;
	font-size:13px;
	height:30px;
	line-height:30px;
}
#kkpager a{
	float: left;	
	display: inline;
	padding: 0 10px;
	margin-right: 5px;
	border-radius: 3px;	
	cursor: pointer;		
	color:#fff;
	background:#f5521f;
}

#kkpager span.disabled{
	float: left;
	border: 1px solid #ccc;
	display: inline;
	padding: 0 10px;
	margin-right: 5px;
	border-radius: 3px;	
	cursor: pointer;		
	color:#ccc;
	
}
#kkpager span.curr{
	float: left;
	border: 1px solid #f5521f;
	display: inline;
	padding: 0 10px;
	margin-right: 5px;
	border-radius: 3px;	
	cursor: pointer;		
	color:#f5521f;
}
#kkpager a:hover{	
	color:#fff;
	background:#f5521f;
	opacity:0.8
}
#kkpager span.normalsize{
}
#kkpager_gopage_wrap{
	position:relative;
	display:inline-block;	
	height:32px;
	margin:0 5px;
}
#kkpager_btn_go {
	width:44px;
	height:30px;
	border:0px;
	overflow:hidden;
	line-height:140%;
	padding:0px;
	margin:0px;
	text-align:center;
	cursor:pointer;
	background-color:#f5521f;
	color:#FFF;
	position:absolute;
	left:0px;
	top:1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display:none;
	border:0 none;
}
#kkpager_btn_go_input{
	width:36px;
	height:28px;
	color:#555;
	text-align:center;
	margin-left:1px;
	margin-right:1px;
	border:1px solid #ccc;
	position:relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	left:0px;
	top:0px;
	outline:none;	
}

#kkpager_btn_go_input.focus{
	border-color:#f5521f;
}

#kkpager .pageBtnWrap{
	float:left;
}
#kkpager .infoTextAndGoPageBtnWrap{
	float:right;
}
#kkpager .spanDot{
	float:left;
	margin-right:5px;
}

#kkpager .currPageNum{
	color:#FD7F4D;
	margin:0 5px;
}

