<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>新手引导 - VIPKID美国小学在家上</title>
    <link href="http://resource.vipkid.com.cn/static/images/learning_portal/logo.gif" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/parent/css/header.css}" /> 
    <link rel="stylesheet" th:href="@{/static/home/css/vipkid.guide.css}" /> 
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?5e1b9d2c20eff9c9278a43f0870f4593";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
	<div class="sHd">
		<div class="sHdCon">
			<a href="/parent/guide_step1" class="sHdLogo"><img th:src="@{/static/home/image/vipkid_logo.png}" /></a>
			<span class="sHdLink"><span class="mr20" id="parentMobile"></span><a href="/signout">退出</a></span>
		</div>
	</div>
	<div class="welcomeWaper">
		<p class="welcomeTitle">为了更好体验VIPKID为您提供的教学服务，请按照下方引导，完成相关信息设置</p>
		<div class="welcomeStep">
			<ul class="welcomeStepItem">
				<li class="welcomeStepOne has"><i></i><span>填写孩子信息</span></li>
				<li class="welcomeStepTwo"><i></i><span>电脑设备测试</span></li>
				<li class="welcomeStepThr"><i></i><span>在线免费体验课</span></li>
			</ul>
			<span class="welcomeStepCircle left"></span>
			<span class="welcomeStepCircle right"></span>
			<div class="welcomeStepLine"></div>
		</div>
		<div class="welcomeCon" id="step1">
			<div class="childrenInfoArea">
				<div class="childrenInfoPar">
					<label class="childrenInfoTitle" for="childrenChineseName">孩子中文名：</label>
					<input class="childrenInfoInput" type="text" value="用于班主任沟通" id="childrenChineseName" maxlength="10"/>
					<p class="regtips" id="childrenChineseNameTips"></p>
				</div>
				<div class="childrenInfoPar">
					<label class="childrenInfoTitle" for="childrenEnglishName">孩子英文名：</label>
					<input class="childrenInfoInput" type="text" value="用于外教老师沟通" id="childrenEnglishName" maxLength="20"/>
					<p class="regtips" id="childrenEnglishNameTips"></p>
				</div>
				<div class="childrenInfoPar">
					<span class="childrenInfoTitle">孩子性别：</span>
					<input class="childrenInfoRadio" type="radio" checked="checked" value="女孩" id="childrenGenderGirl" />
					<label for="childrenGenderGirl" class="childrenGenderLabel">女孩</label>
					<input class="childrenInfoRadio" type="radio" value="男孩" id="childrenGenderMan" />
					<label for="childrenGenderMan" class="childrenGenderLabel">男孩</label>
					<p class="regtips" id="genderTips"></p>
				</div>
				<div class="childrenInfoPar">
					<label class="childrenInfoTitle" for="childrenBirthday">孩子生日：</label>
					<input class="childrenInfoInput" type="text" value="2010-01-01" id="childrenBirthday"/>
					<p class="regtips" id="childrenBirthdayTips"></p>
				</div>
				<p class="tc"><button class="welcomeSubmit"  id="welcomeSubmit" onclick="javascript:commitStudentInfo()">确定</button></p>
			</div>
			<span class="welcomePointer"></span>
		</div>
	</div>
	<div th:replace="common/footer::footer-simple"></div>

	<script type="text/javascript" src="/static/lib/jquery/jquery.1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/home/js/auth/guide.js"></script>
	<script type="text/javascript" src="/static/home/js/WdatePicker.js"></script>	
</body>
</html>
