<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>		
	<meta name="baidu-site-verification" content="8SALM4aETp" />
	<meta name="msvalidate.01" content="C99CBBDA9CD136894A8971CE94EE9B92" />
	<meta name="360-site-verification" content="1b8ba692dd60752b3a9245aebb986870" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="VIPKID是大米未来科技有限公司旗下的少儿国际教育品牌。致力于为‘有趣、独立和好奇’的‘新家长、大小孩’打造原汁原味的外教1对1在线美国小学课堂。我们的愿景是：‘科技，让教育更人性化’。"/>
	<meta name="keywords" content="在线少儿英语领导品牌,一对一,外教,VIP个性化，学科英语，儿童，小学，英语，美国小学，教材，在线，翻转式课堂，浸入式英语学习"/>
	<link href="http://resource.vipkid.com.cn/static/images/learning_portal/logo.gif" type="image/x-icon" rel="shortcut icon" />
    <title layout:title-pattern="$CONTENT_TITLE">VIPKID</title>
    <link rel="stylesheet" th:href="@{/static/parent/css/parenting.css}" />
    <link rel="stylesheet" th:href="@{/static/parent/css/kkpager/kkpager_blue.css}" />
    <link rel="stylesheet" th:href="@{/static/parent/css/header.css}" />    
	<!--[if lt IE 9]>
	<script src="/static/parent/js/html5.js"></script> 
	<![endif]-->  
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?5e1b9d2c20eff9c9278a43f0870f4593";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
	<!-- Header -->
	<div th:replace="common/header::header-logined"></div>
	
	<section class="w960 mt20 pr clear">
		<aside class="pSider">			
			<div class="uAvatar">
				<img th:src="${currentStudentAvatar}" />
				<p class="uName" th:text="${studentEnglishName}">English name</p>
				<a href="javascript:;" class="uChange" th:if="${students.size()} > 1">切换</a>
				<p class="uMedalStar">					
					<a href="javascript:;" class="uStar"><span th:text="${starCount}">0</span></a>
					<a href="javascript:;" class="uMedal"><span th:text="${medalCount}">0</span></a>
				</p>
<!-- 				<a href="http://learning.vipkid.com:8043/learning/home" target="_blank" class="uGotoStudy">进入学习中心</a> -->
				<a th:href="${learningUrl}+'/learning/home'" target="_blank" class="uGotoStudy">进入学习中心</a>			
			</div>
			<ul class="nList">
				<li th:class="${path} == '/parent/home' ? cur : ''"><a th:href="@{/parent/home}" class="nlSelf">个人主页</a></li>
				<li th:class="${path} == '/parent/preschedule' ? cur : ''"><a th:href="@{/parent/preschedule}" class="nlDown">预约课程</a></li>
				<li th:class="${path} == '/parent/lessons' ? cur : ''"><a th:href="@{/parent/lessons}" class="nlClass">已上课程</a></li>
				<li th:class="${path} == '/parent/teachers' ? cur : ''"><a th:href="@{/parent/teachers}" class="nlTeacher">我的老师</a></li>				
				<li th:class="${path} == '/parent/leveltest' ? cur : ''" th:if="${allowLevelTest} == true"><a th:href="@{/parent/leveltest}" class="nlSet">水平自测</a></li>
			</ul>	
		</aside>
		
		<!-- 学生切换 -->
		<div class="uChangePop">
			<p class="uChangeTitle" >切换学生</p>
			<p class="uChangeArea">
				<a href="javascript:;" th:each="student : ${students}" th:class="${studentId} == ${student.id} ? on : ''">
					<span class="uChangeAvatar">
						<img th:src="'http://resource.vipkid.com.cn/static/images/common/avatar/' + ${student.avatar} + '.png'" alt="alice"/>
						<input id="studentId" type="hidden" th:value="${student.id}"/>
						<i></i>
					</span>
					<span class="uChangeName" th:text="${student.englishName}"></span>
				</a>
			</p>
			<p class="uChangeHandle"><a href="javascript:;">取消</a><a href="javascript:;" onclick="doChangeStudent()">完成</a></p>
			<a href="javascript:;" class="uChangeClose">关闭</a>
		</div>
		
		<div class="smDownDiv" id="smDownDivMedal">
			<dl class="medalTask">
				<dt>完成下列任务，可以获得应对应勋章：</dt>
<!-- 				<dd>完成星星大冒险新手任务</dd> -->
				<dd>完成IT测试课</dd>
				<dd>完成新手试听DEMO课</dd>
				<dd>完成每个Unit获得Unit勋章</dd>
				<dd>完成每个Level获得Level勋章</dd>
			</dl>
			<i></i>
		</div>
		<div class="smDownDiv" id="smDownDivStar">
			<dl class="starUsed">
				<dt>每次上课可以获得0-5枚星星币</dt>
				<dd>本周新增：<span class="colorO" th:text="${getStarsThisWeek}">5</span>  本周消耗：<span class="colorO" th:text="${useStarsThisWeek}">45</span></dd>
			</dl>
			<i></i>
		</div>
		<section layout:fragment="content">
		</section>
	</section>
	
	<!-- 简单提示框 -->
	<div id="alert_info" class="tipsPop">
		<div class="tipsCon">
			<p id="info_title" class="tipsTitle tWarning">确认</p>
			<div class="tipsTextCon">
				<p id="info_message" class="tipsDesc">上课时间到了，请进入教师！</p>
			</div>
			<p class="tipsHandle"><a id="info_ok" href="javascript:;" class="tipsIknow">知道了</a></p>
		</div>
		<p class="tipsBg"></p>
	</div>
	
	<!-- 确认弹出框 -->
	<div id="alert_confirm" class="tipsPop" th:fragment="alertConfirm">
		<div class="tipsCon">
			<p id="confirm_title" class="tipsTitle tSuccess">取消成功</p>
			<div class="tipsTextCon">
				<p id="confirm_message" class="tipsDesc">确定取消 Ben T  老师 5月25日 星期一 21:30 的课程吗?</p>
			</div>
			<p class="tipsHandle"><a id="confirm_cancel" href="javascript:;">取消</a><a id="confirm_ok" href="javascript:;">确认</a></p>
		</div>
		<p class="tipsBg"></p>
	</div>
	
	<!-- 错误提示框 -->
	<div id="alert_error" class="tipsPop">
		<div class="tipsCon">
			<p id="error_title" class="tipsTitle tFailure">哎呀，失败了</p>
			<div class="tipsTextCon">
				<p id="error_message" class="tipsDesc">服务器开小差了，请稍后再试！</p>
			</div>
			<p class="tipsHandle"><a id="error_ok" href="javascript:;" class="tipsIknow">知道了</a></p>
		</div>
		<p class="tipsBg"></p>
	</div>
	
	<div th:replace="common/footer::footer-normal"></div>
	
	<script th:src="@{/static/lib/jquery/jquery.1.9.1.min.js}"></script>
	<script th:src="@{/static/parent/js/jquery.bigautocomplete.js}"></script>
	<script th:src="@{/static/parent/js/parenting.packed.js}"></script>
	<script th:src="@{/static/parent/js/alert.js}"></script>
	<script th:src="@{/static/parent/js/kkpager/kkpager.min.js}"></script>
	<script th:src="@{/static/parent/js/layout.js}"></script>
	<script th:src="@{/static/parent/js/vipkid.header.js}"></script>
	<section layout:fragment="contentjs">
	</section>
</body>
</html>
