<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/common/baseLayout">
<head>
    <title>修改密码 - VIPKID美国小学在家上</title>  
    <link href="http://resource.vipkid.com.cn/static/images/learning_portal/logo.gif" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/parent/css/header.css}" />
    <link rel="stylesheet" th:href="@{/static/parent/css/parenting.css}" />
</head>
<body>

	<section layout:fragment="content">
		<div th:replace="common/header::header-logined"></div>
		<div class="w960" >
			<p class="downTitle">修改密码</p>
			<div class="modifyPwd">
				<div class="modifyPwdCon">	
					<div class="signupPar">
						<label for="password">当前密码：</label>
						<input id="password"  class="reginput"  type="text" value="请输入原登录密码" maxLength="20"/>	
						<p id="passworderror" class="regtips"></p>
					</div>
					<div class="signupPar">
						<label for="newpassword">新密码：</label>
						<input id="newpassword"  class="reginput"  type="text" value="请输入新的登录密码" maxLength="20"/>	
						<p id="newpassworderror" class="regtips"></p>
					</div>
					<div class="signupPar">
						<label for="cfmnewpassword">确认新密码：</label>
						<input id="cfmnewpassword"  class="reginput"  type="text" value="请再次输入新登录密码" maxLength="20"/>	
						<p id="cfmnewpassworderror" class="regtips"></p>
					</div>
					<div class="signupPar">	
						<button class="signupSubBtn" id="confirmModifyPwd" onclick="ModifyPassword()">确认修改密码</button>	
					</div>
				</div>
			</div>
		</div>
		<div id="alert_info" class="tipsPop">
			<div class="tipsCon">
				<p id="info_title" class="tipsTitle tWarning">确认</p>			
				<div class="tipsTextCon">
					<p id="info_message" class="tipsDesc">上课时间到了，请进入教师！</p>
				</div>
				<p class="tipsHandle"><a id="info_ok" href="#" class="tipsIknow">知道了</a></p>
			</div>
			<p class="tipsBg"></p>
		</div>
		<div th:replace="common/footer::footer-normal"></div>
	</section>
</body>
</html>