<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/common/baseLayout">
<head>
    <title>公开课 - VIPKID美国小学在家上</title>
    <link rel="stylesheet" th:href="@{/static/parent/css/openclass.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/static/parent/css/parenting.css}" />
    <link rel="stylesheet" th:href="@{/static/parent/css/header.css}" />
    <link rel="stylesheet" th:href="@{/static/parent/css/kkpager/kkpager_blue.css}" />
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?694a54b48b04b7310c37b61185eb88fe";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
	<section layout:fragment="contentjs">
		<script th:src="@{/static/parent/js/openclass.js}"></script>
	</section>
	<section layout:fragment="content">
		<div th:replace="common/header::header-logined"></div>
		
		<div class="focusArea">
			<div class="focusWaper">
				<img src="http://resource.vipkid.com.cn/parent_home/static/parent/image/openclass.jpg" />
			</div>
		</div>
		<div class="w940">
			<div class="topTab clear">
				<p class="fl" id="privileged">
					<a href="javascript:;" th:href="@{/parent/openclass(ageRange=${ageRange},sign=1,type='ALL')}"  th:class="${type=='ALL'}?'cur'">全部公开课</a>
					<a href="javascript:;" th:href="@{/parent/openclass(ageRange=${ageRange},sign=1,type='DEDICATED')}" th:class="${type=='DEDICATED'}?'cur'">精品公开课<span class="privilegedPop">面向VIPKID付费用户开放，高端课程体验。</span></a>
					<a href="javascript:;" th:href="@{/parent/openclass(ageRange=${ageRange},sign=1,type='NORMAL')}" th:class="${type=='NORMAL'}?'cur'">免费公开课<span class="privilegedPop free">面向VIPKID所有注册用户开放</span></a><!-- 面向VIPKID所有注册用户开放 -->
				</p>
				<p class="fr">
					<a href="javascript:;" th:href="@{/parent/openclass(ageRange=-1,sign=1,type=${type})}" th:class="${ageRange==-1?'cur':''}">不限</a>
					<a href="javascript:;" th:href="@{/parent/openclass(ageRange=1,sign=1,type=${type})}" th:class="${ageRange==1?'cur':''}">4-8岁</a>
					<a href="javascript:;" th:href="@{/parent/openclass(ageRange=2,sign=1,type=${type})}" th:class="${ageRange==2?'cur':''}">9-12岁</a>
				</p>
			</div>
			<div class="ocItem" th:each="opView : ${openClassList}">
				<img th:src="${opView.imgSrc}"  class="ocImg"/>
				<div class="ocWords">
					<h3 th:text="${opView.lessonTopic}">绘本阅读-Mom loves me</h3>
					<p class="ocInfo">
						<span class="ocTime" th:text="${opView.timeVew}">2015-6-14  周日  19:00</span>
						<span class="ocTeacher" th:text="${opView.teacherName+' 老师'}">Madli老师</span>
						<span class="ocChild" th:text="${opView.ageRange}">4-8岁</span>
					</p>
					<p class="ocDesc" th:utext="${opView.introduce}">每一个孩子心中的妈妈都是最好的：我妈妈是一个棒极了的厨师；她是一个伟大的化妆师；她是全世界最强壮的女人；她还是一个奇异的园艺师，可以让任何植物生长；她是一个仙女，在我沮丧的时候她总是有办法让我开心起来；她的歌可以唱得像天使一样好；她吼起来像一头狮子；我的妈妈像蝴蝶一样漂亮，又舒适的像一把扶手沙发……她常常逗我大笑。我爱我妈妈，而且你知道吗？妈妈也爱我，而且会永远爱我。</p>
					<p class="ocHandle">
						<span class="ocNumber">
							<span th:if="${opView.type.toString()!='YJS'}">已有</span>
							<em th:text="${opView.studentCount}"></em>
							<span th:if="${opView.type.toString()=='KKSFZZQ'}">人已参加</span>
							<span th:if="${opView.type.toString()=='KKSFZZN' or opView.type.toString()=='YKK'}">人进入教室</span>
							<span th:if="${opView.type.toString()=='YJS'}">人参加了本节课程</span>
						</span>
						
						<a class="ocHasReg" th:if="${opView.type.toString()=='KKSFZZQ' and opView.sign}">我已占座</a>
						
						<!-- 普通公开课 -->
						<!-- 我要报名 -->
						<a href="javascript:;" th:onclick="'javascript:doSignUpOpenClass('+${opView.teacherId}+','+${studentId}+','+${opView.onlineClassId}+',\''+${opView.scheduledDateTime}+'\')'" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZQ' and !opView.sign and opView.opType.toString()=='NORMAL'}">我要占座</a>
						<!-- 开课前：已报名 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZN' and opView.sign and opView.opType.toString()=='NORMAL'}"><span class="reloadPage">进入教室</span></a>
						<!-- 开课前：未报名，先报名再进教室 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId},scheduledDateTime=${opView.scheduledDateTime})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZN' and !opView.sign and opView.opType.toString()=='NORMAL'}"><span class="reloadPage">进入教室</span></a>
						<!-- 开课后：已报名 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='YKK' and opView.sign and opView.opType.toString()=='NORMAL'}"><span class="reloadPage">进入教室</span></a>
						<!-- 开课后：未报名，先报名再进教室 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId},scheduledDateTime=${opView.scheduledDateTime})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='YKK' and !opView.sign and opView.opType.toString()=='NORMAL'}"><span class="reloadPage">进入教室</span></a>
						<!-- 课程回放 -->
						<a th:href="@{/parent/replay(studentId=${studentId},onlineClassId=${opView.onlineClassId})}" target="_blank" class="ocPlayBack" th:if="${opView.type.toString()=='YJS' and opView.opType.toString()=='NORMAL'}"><span class="reloadPage">课程回放</span></a>
						
						<!-- 专属公开课, 并且学生channelid等于公开课channelId -->
						<!-- 我要报名 -->
						<a href="javascript:;" th:onclick="'javascript:doSignUpOpenClass('+${opView.teacherId}+','+${studentId}+','+${opView.onlineClassId}+',\''+${opView.scheduledDateTime}+'\')'" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZQ' and !opView.sign and opView.opType.toString()=='DEDICATED' and opView.hasPower}">我要占座</a>
						<!-- 开课前：已报名 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZN' and opView.sign and opView.opType.toString()=='DEDICATED' and opView.hasPower}"><span class="reloadPage">进入教室</span></a>
						<!-- 开课前：未报名，先报名再进教室 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId},scheduledDateTime=${opView.scheduledDateTime})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZN' and !opView.sign and opView.opType.toString()=='DEDICATED' and opView.hasPower}"><span class="reloadPage">进入教室</span></a>
						<!-- 开课后：已报名 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='YKK' and opView.sign and opView.opType.toString()=='DEDICATED' and opView.hasPower}"><span class="reloadPage">进入教室</span></a>
						<!-- 开课后：未报名，先报名再进教室 -->
						<a th:href="@{/parent/classroom(studentId=${studentId},onlineClassId=${opView.onlineClassId},scheduledDateTime=${opView.scheduledDateTime})}" target="_blank" class="ocIntoClass" th:if="${opView.type.toString()=='YKK' and !opView.sign and opView.opType.toString()=='DEDICATED' and opView.hasPower}"><span class="reloadPage">进入教室</span></a>
						<!-- 课程回放 -->
						<a th:href="@{/parent/replay(studentId=${studentId},onlineClassId=${opView.onlineClassId})}" target="_blank" class="ocPlayBack" th:if="${opView.type.toString()=='YJS' and opView.opType.toString()=='DEDICATED' and opView.hasPower}"><span class="reloadPage">课程回放</span></a>
						
						<!-- 专属公开课, 并且学生channelid不等于公开课channelId -->
						<!-- 我要报名 -->
						<a href="javascript:;" onclick="permissionAlert()" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZQ' and !opView.sign and opView.opType.toString()=='DEDICATED' and !opView.hasPower}">我要占座</a>
						<!-- 开课前：已报名 -->
						<a href="javascript:;" onclick="permissionAlert()" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZN' and opView.sign and opView.opType.toString()=='DEDICATED' and !opView.hasPower}">进入教室</a>
						<!-- 开课前：未报名，先报名再进教室 -->
						<a href="javascript:;" onclick="permissionAlert()" class="ocIntoClass" th:if="${opView.type.toString()=='KKSFZZN' and !opView.sign and opView.opType.toString()=='DEDICATED' and !opView.hasPower}">进入教室</a>
						<!-- 开课后：已报名 -->
						<a href="javascript:;" onclick="permissionAlert()" class="ocIntoClass" th:if="${opView.type.toString()=='YKK' and opView.sign and opView.opType.toString()=='DEDICATED' and !opView.hasPower}">进入教室</a>
						<!-- 开课后：未报名，先报名再进教室 -->
						<a href="javascript:;" onclick="permissionAlert()" class="ocIntoClass" th:if="${opView.type.toString()=='YKK' and !opView.sign and opView.opType.toString()=='DEDICATED' and !opView.hasPower}">进入教室</a>
						<!-- 课程回放 -->
						<a href="javascript:;" onclick="permissionAlert()" class="ocPlayBack" th:if="${opView.type.toString()=='YJS' and opView.opType.toString()=='DEDICATED' and !opView.hasPower}">课程回放</a>
					</p>
				</div>
				<span class="ocStatus ocStatus-3" th:if="${opView.type.toString()=='KKSFZZQ'}">未开始</span>
				<span class="ocStatus ocStatus-2" th:if="${opView.type.toString()=='KKSFZZN'}">即将上课</span>
				<span class="ocStatus ocStatus-1" th:if="${opView.type.toString()=='YKK'}">上课中</span>
				<span class="ocStatus ocStatus-4" th:if="${opView.type.toString()=='YJS'}">已结束</span>
				<span th:if="${opView.opType.toString()=='DEDICATED'}" class="ocItemMedal privileged"></span>
				<span th:if="${opView.opType.toString()=='NORMAL'}" class="ocItemMedal free"></span>
			</div>
			<div id="kkpager"  th:if="${totalRecords!=0}">
			</div>
			<div hidden="true">
				<input type="hidden" id="totalRecords" th:value="${totalRecords}"/>
				<input type="hidden" id="currNum" th:value="${currNum}"/>
				<input type="hidden" id="rowNum" th:value="${rowNum}"/>
				<input type="hidden" id="ageRange" th:value="${ageRange}"/>
				<input type="hidden" id="sign" th:value="${sign}"/>
				<input type="hidden" id="type" th:value="${type}"/>
			</div>
		</div>
		<div th:replace="common/footer::footer-normal"></div>
	</section>
	<script th:src="@{/static/lib/jquery/jquery.1.9.1.min.js}"></script>
	<script th:src="@{/static/parent/js/parenting.packed.js}"></script>
	<script th:src="@{/static/parent/js/alert.js}"></script>
	<script th:src="@{/static/parent/js/kkpager/kkpager.min.js}"></script>
	<script th:src="@{/static/parent/js/layout.js}"></script>
	<script th:src="@{/static/parent/js/vipkid.header.js}"></script>
</body>
</html>
