<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/common/baseLayout">
<head>
    <title>订单中心 - VIPKID美国小学在家上</title> 
    <link href="http://resource.vipkid.com.cn/static/images/learning_portal/logo.gif" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/parent/css/parenting.css}" />
    <link rel="stylesheet" th:href="@{/static/parent/css/order.css}" />
    <link rel="stylesheet" th:href="@{/static/parent/css/header.css}" />
</head>
<body>
	<section layout:fragment="content">
		<div th:replace="common/header::header-logined"></div>

		<section class="orderMain">
			<div class="marea">
				<ul class="orderStep clear">
					<li class="orderStepFir cur"><span></span> <strong>1、查看订单</strong>
					</li>
					<li class="orderStepSec cur"><span></span> <strong>2、支付订单</strong>
					</li>
					<li
						th:class="${#strings.toString(order.status)} == 'PAY_CONFIRMED' ? 'orderStepThr cur' : 'orderStepThr'"><span></span>
						<strong>3、确认支付成功</strong></li>
				</ul>
				<div class="selectBank" th:object="${order}">
					<p class="orderDetail">
						订单已成功提交，订单编号：<span th:text="${order.serialNumber}"></span>，订单金额：<span
							th:text="${order.totalDealPrice}"></span>元
					</p>
					<div class="bankBox clear"
						th:if="${#strings.toString(order.status)} == 'TO_PAY'">
						<div class="bankBoxLeft">
							<p class="hasSecPaymothod">已选择支付方式：</p>
							<div class="bankSelector">
								<div id="paymentType" class="paymentType">
									<img id="curimg"
										th:src="@{/static/parent/image/order/alipay.png}" />
								</div>
								<div id="paymentTypeSelectButton"
									class="paymentTypeSelectButton" onclick="showPayType()"></div>
								<!-- 							<div id="modifyButton" class="modifyButton" onclick="showPayType()">修改</div> -->
							</div>
							<br />
							<div id='banks'>
								<p class="lbl">支付平台：</p>
								<p class="line"></p>
								<div class="paymentList">
									<a id='btnAlipay' class="paymentItem"><img alt="ALIPAY"
										th:src="@{/static/parent/image/order/alipay.png}" /></a> <a
										id="btnTransfer" class="paymentItem"><img
										alt="TRANSFERACCOUNTS"
										th:src="@{/static/parent/image/order/transfer.png}" /></a>
								</div>
								<br />
								<p class="lbl">银行卡：</p>
								<p class="line"></p>
								<div class="bankList clear">
									<a class="bankItem"><img alt="ABC"
										th:src="@{/static/parent/image/bank/ABC.gif}" /></a> <a
										class="bankItem"><img alt="BJBANK"
										th:src="@{/static/parent/image/bank/BJBANK.gif}" /></a> <a
										class="bankItem"><img alt="BOCB2C"
										th:src="@{/static/parent/image/bank/BOCB2C.gif}" /></a> <a
										class="bankItem"><img alt="CCB"
										th:src="@{/static/parent/image/bank/CCB.gif}" /></a> <a
										class="bankItem"><img alt="CEB-DEBIT"
										th:src="@{/static/parent/image/bank/CEB-DEBIT.gif}" /></a> <a
										class="bankItem"><img alt="CIB"
										th:src="@{/static/parent/image/bank/CIB.gif}" /></a> <a
										class="bankItem"><img alt="CMB"
										th:src="@{/static/parent/image/bank/CMB.gif}" /></a> <a
										class="bankItem"><img alt="CMBC"
										th:src="@{/static/parent/image/bank/CMBC.gif}" /></a> <a
										class="bankItem"><img alt="COMM-DEBIT"
										th:src="@{/static/parent/image/bank/COMM-DEBIT.gif}" /></a> <a
										class="bankItem"><img alt="GDB"
										th:src="@{/static/parent/image/bank/GDB.gif}" /></a> <a
										class="bankItem"><img alt="ICBCB2C"
										th:src="@{/static/parent/image/bank/ICBCB2C.gif}" /></a> <a
										class="bankItem"><img alt="POSTGC"
										th:src="@{/static/parent/image/bank/POSTGC.gif}" /></a> <a
										class="bankItem"><img alt="SHBANK"
										th:src="@{/static/parent/image/bank/SHBANK.gif}" /></a> <a
										class="bankItem"><img alt="SPDB"
										th:src="@{/static/parent/image/bank/SPDB.gif}" /></a>
								</div>
							</div>
							<br /> <input id="oid" type="hidden" th:value="${order.id}" />
							<button id="alipayButton" class="payButton" onclick="doPay()">立即支付</button>
							<button id="transferAccountButton" class="payButton"
								onclick="doTransfer()">已转账到收款账号</button>
						</div>
						<div class="bankBoxRight">
							<div class="accountInfo">
								<p style="font-size: 20px;">转账支付收款信息</p>
								<p>收款银行：招商银行北京海淀黄庄支行</p>
								<p>收款账户名：北京大米未来科技有限公司</p>
								<p>
									收款账号：<strong>1109&nbsp;&nbsp;1324&nbsp;&nbsp;4810&nbsp;&nbsp;706</strong>
								</p>
							</div>
						</div>
					</div>
					<div class="bankBox"
						th:if="${order.onlinePayFailed} == false and ${#strings.toString(order.status)} == 'PAID'">
						<p class="bankPayTips">您的订单已支付，我们工作人员将尽快与您确认！</p>
					</div>
					<div class="bankBox"
						th:if="${#strings.toString(order.status)} == 'PAY_CONFIRMED'">
						<p class="bankPayTips">恭喜您已经付款成功！</p>
					</div>
					<div class="bankBox"
						th:if="${order.onlinePayFailed} == true and ${#strings.toString(order.status)} == 'PAID'">
						<p class="bankPayTips">抱歉，支付失败！</p>
					</div>
					<input id="orderid" type="hidden" th:value="${order.id}" /> <input
						id="serialNumber" type="hidden" th:value="${order.serialNumber}" />
					<input id="totalDealPrice" type="hidden"
						th:value="${order.totalDealPrice}" /> <input id="returnUrl"
						type="hidden" th:value="${returnUrl}" /> <input id="notifyUrl"
						type="hidden" th:value="${notifyUrl}" /> <input id="selleremail"
						type="hidden" th:value="${seller_email}" />
				</div>
			</div>
		</section>

		<!-- 确认弹出框 -->
		<div id="order_confirm" class="tipsPop">
			<!-- 让他隐藏去掉 tipsPopOpen tabShow这两个样式，反之添加 -->
			<div class="tipsCon">
				<p class="tipsTitle tSuccess">付款确认</p>
				<div class="tipsTextCon">
					<p class="tipsDesc">请在新打开的网上银行页面进行支付，支付完成前请不要关闭该窗口</p>
					<p class="tipsContact">如无法支付，请联系客服400-005-6666</p>
				</div>
				<p class="tipsHandle payTipsHd">
					<a th:href="@{/parent/orders}">支付成功<br />
					<span>点击查看订单列表</span></a> <a href="javascript:;"
						onclick="changePayType()">支付失败<br />
					<span>修改支付方式</span></a>
				</p>
			</div>
			<p class="tipsBg"></p>
		</div>


		<div th:replace="common/footer::footer-normal"></div>

	</section>
	<section layout:fragment="contentjs">
		<script th:src="@{/static/lib/jquery/jquery.1.9.1.min.js}"></script>
		<script th:src="@{/static/parent/js/alert.js}"></script>
		<script th:src="@{/static/parent/js/layout.js}"></script>
		<script th:src="@{/static/parent/js/vipkid.header.js}"></script>
		<script th:src="@{/static/parent/js/order.js}"></script>
	</section>
</body>
</html>