<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/parent/layout">
<head>
    <title>课程详情 - VIPKID美国小学在家上</title> 
    <link rel="stylesheet" th:href="@{/static/parent/css/parenting.css}" />
</head>
<body>
	<section layout:fragment="contentjs">
		<script th:src="@{/static/parent/js/translate.js}"></script>
	</section>
	<section class="pMain" layout:fragment="content">
		<div class="pArea">
			<p class="pAreaTitle">我的课程-<a th:href="@{/parent/lessons}">已上课程</a>-课程详情</p>
			<div class="pCon fClassArea">
				<!-- <h1 class="fClassname" th:text="|小学课程： ${lessonsView.level}- ${lessonsView.unitName}- ${lessonsView.lessonName}|"></h1> -->
				<div class="clear">
					<div class="fClassInfo">
						<p th:if="${lessonsView.unitName!=null and lessonsView.unitName!=''}"><span class="sclassItem sclassName">课程：</span><span class="sclassItemCon" th:text="|${lessonsView.level}- ${lessonsView.unitName}- ${lessonsView.lessonName}|"></span></p>
						<p th:if="${lessonsView.unitName==null or lessonsView.unitName==''}"><span class="sclassItem sclassName">课程：</span><span class="sclassItemCon" th:text="|${lessonsView.level}- ${lessonsView.lessonName}|"></span></p>
						<p><span class="sclassItem sclassTime">时间： </span><span class="sclassItemCon" th:text="|${lessonsView.scheduledDateTime==null?'':#dates.format({lessonsView.scheduledDateTime}, 'yyyy-MM-dd HH:mm:ss')}|"></span></p>
						<p><span class="sclassItem sclassStar">老师： </span><a th:href="@{/parent/teacherdetail(teacherId=${lessonsView.teacherId})}" target="_blank"><span class="sclassItemCon" th:text="|${lessonsView.teacherName}|"></span></a></p>
						<p th:if="${lessonsView.finishType!='生成中...'}"><span class="sclassItem sclassteacher">星星： </span><span class="recClassStar"><span th:class="${'rcs'+lessonsView.stars}"></span></span></p>
						<p th:if="${lessonsView.finishType!='生成中...'}" class="mt10"><a th:href="${learningUrl} + '/adventureLogs/replay/' + ${lessonsView.onlineClassId} + '/home'" target="_blank" class="commonBtn">课堂回放</a></p>
					</div>
					<ul class="fClassStutas" th:if="${lessonsView.finishType!='生成中...'} and ${lessonsView.abilityToFollowInstructions>0 or lessonsView.repetition>0 or lessonsView.clearPronunciation>0 or lessonsView.readingSkills>0 or lessonsView.spellingAccuracy>0 or lessonsView.activelyInteraction>0}">
						<li><span class="fl">理解指令：</span><span class="recClassStar"><span th:class="${'rcs'+lessonsView.abilityToFollowInstructions}"></span></span></li>
						<li><span class="fl">复述能力：</span><span class="recClassStar"><span th:class="${'rcs'+lessonsView.repetition}"></span></span></li>
						<li><span class="fl">发音清晰：</span><span class="recClassStar"><span th:class="${'rcs'+lessonsView.clearPronunciation}"></span></span></li>
						<li><span class="fl">阅读能力：</span><span class="recClassStar"><span th:class="${'rcs'+lessonsView.readingSkills}"></span></span></li>
						<li><span class="fl">拼写准确：</span><span class="recClassStar"><span th:class="${'rcs'+lessonsView.spellingAccuracy}"></span></span></li>
						<li><span class="fl">互动表现：</span><span class="recClassStar"><span th:class="${'rcs'+lessonsView.activelyInteraction}"></span></span></li>
					</ul> 
				</div>
			</div>
		</div>
		<div class="pArea">
			<div class="pCon">
				<div class="scheduleBg">
					<p class="scheduleTab" id="fClassTab">
						<span th:class="${sign==2}?'cur'">教师评语</span>
						<span th:class="${sign==1}?'cur'">教学目标</span>
						<span th:if="${lessonsView.vocabularies !=null and lessonsView.vocabularies !=''}">词汇</span>
						<span th:if="${lessonsView.sentencePatterns !=null and lessonsView.sentencePatterns !=''}">句型</span>
						<span th:if="${lessonsView.grammar !=null and lessonsView.grammar !=''}">语法</span>
					</p>
				</div>
				<div class="classTabContent">
					<div th:class="${sign==2}?'classTabText tabShow comment':'classTabText tabHide'" id="tcComment">
						 <div th:attr="data-comment-id=${lessonsView.teacherCommentId}" class="commentEN" th:utext="${lessonsView.teacherFeedback}"></div>
						 <p th:if="${lessonsView.showFeedback}" class="mt10"><a href="javascript:void(0);" class="translateBtn" id="translateBtn">翻译成中文</a></p>
						 <div class="fClassTrans" style="display: none">
						 	<p>翻译结果：</p>
						 		<p class="commentCN colorO mt10 mb10"></p>
						 		<img class="loading" style="margin:20px auto" src="/static/parent/image/trans_loading.gif"/>
						 	<p class="f12">翻译结果由<a class="colorO" href="http://fanyi.baidu.com/" target="_blank">百度翻译</a>提供,仅供参考</p>
						 </div>
					</div>
					<div th:class="${sign==1}?'classTabText tabShow':'classTabText tabHide'" th:utext="${lessonsView.objective}">
					</div>
					<div class="classTabText tabHide" th:utext="${lessonsView.vocabularies}" th:if="${lessonsView.vocabularies !=null and lessonsView.vocabularies !=''}">
					</div>
					<div class="classTabText tabHide" th:utext="${lessonsView.sentencePatterns}" th:if="${lessonsView.sentencePatterns !=null and lessonsView.sentencePatterns !=''}">
					</div>
					<div class="classTabText tabHide" th:utext="${lessonsView.grammar}" th:if="${lessonsView.grammar !=null and lessonsView.grammar !=''}">
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
