blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0}
body,button,input,select,textarea {font:14px/1.75 \5FAE\8F6F\96C5\9ED1,\5b8b\4f53,sans-serif,tahoma,arial,'Hiragino Sans GB'; color: #333;background:#fff;}
h1,h2,h3,h4,h5,h6 {font-size:100%}
address,cite,dfn,em,var {font-style:normal}
code,kbd,pre,samp {font-family:courier new,courier,monospace}
ol,ul{list-style:none}
img{display: block;border: 0 none;}
input:focus,select:focus{outline: 0 none;}
a {color:#333;text-decoration:none;outline: 0 none;}
a:hover{color:#e65;text-decoration: none;}
.clear:after,.sHdCon:after,.signupPar:after,.signupArea:after,.signupPar:after,.loginHandle:after{content:'\20';display:block;height:0;clear:both}
.clear,.sHdCon,.signupPar,.signupArea,.signupPar,.loginHandle{*zoom:1}

.regtips,.loginError,.signupEntrance i,.loginPar label,.loginHandle input,.findPwdThrText,.protocolPopClose{background:url(/static/home/image/signup_login_bg.png) no-repeat;}
/*头部*/
.sHd{width:100%; height:79px;border-bottom:#eaeaea 1px solid;}
.sHdCon{width:960px;margin:0 auto;}
.sHdLogo{float:left;margin-top:12px;}
.sHdTitle{font-size:30px;line-height:36px; float:left; color:#333; margin:25px 0 0 20px;}
.sHdLink{float:right;font-size:14px;margin-top:30px;}
.sHdLink a,.sCopyInfo,.sFooterLink a{float:left;}
.sHdLine{background:#b2b1b1;width:2px; height:15px;float:left;margin:4px 10px 0;}
.sFline{background:#b2b1b1;width:1px; height:13px;float:left;margin:4px 10px 0;}
/*页尾*/
.sFooter{border-top:#eaeaea 1px solid;padding: 10px 0;font-size: 12px; color: #555;}
.sFooterLink{float: right;}

/*注册区域*/
.signupArea{background:#f9f9f9;border:#e7e7e7 1px solid;padding:60px 70px 60px 60px; width:828px;margin:30px auto 80px;}
.signupImg{float:right;}
.signupContent{width:410px;float:left;}
.regtips,.loginError{font-size: 12px; padding-left: 20px;background-position: -45px -64px;line-height:18px;position:absolute;left:108px;bottom:0px; color:#f5521f;}
.reginput{padding:6px; height: 24px;border:#d0d0d0 1px solid;width: 266px; float:left;}
.reginput.on{border:#7cbc5a 1px solid;}
.signupYzm .reginput{width:158px; margin-right:10px;}
.signupYzmText{width:98px;height:38px;line-height:38px;background:#f3f3f3;border:#d0d0d0 1px solid;float:left;font-size:12px;color:#555;text-align:center; cursor:pointer;}
.signupYzmText.normal{cursor:default}
.signupPar{margin-bottom:8px;height:60px; position:relative;}
.signupCmd.signupPar{height:63px; }
.signupCmd .reginput{width:158px;}
.signupPar label{width:113px; float:left;line-height:38px;text-align:right;margin-right:10px;}
.signupSubBtn,.loginSubBtn{background: #f5521e; line-height: 40px; text-align: center; color: #fff;font-size: 18px;border: 0 none; display: block;cursor:pointer;float:left;width:280px;margin-left:123px;}
.loginSubBtn{float: none;margin-left: 0;margin-top: 12px;}
a.signupSubBtn:hover,a.loginSubBtn:hover{color:#fff; opacity:0.8;}
/*登录区域*/
.loginWaper{width:100%; height: 480px;background:#604977 url(/static/home/image/login_bg.jpg) no-repeat center top; margin-bottom: 44px;}
.loginArea{width:960px;height: 480px;position: relative;margin:0 auto;}
.loginContent{width:280px;padding:15px 20px 20px;background: #fff;border:#e8e8e8 1px solid; position: absolute; right: 0;top: 105px;}
.loginTitle{font-size: 20px; color: #372f3c; margin-bottom: 20px;}
.signupEntrance{position: absolute;right:20px;top: 23px; padding-right: 20px;height:20px;line-height: 20px; color: #f5521f}
.signupEntrance i{position: absolute;right: 0;top: 1px;width:16px; height: 16px; display:block;background-position: -45px -31px;}
a.signupEntrance:hover{text-decoration: underline;}
.loginPar{border:#d0d0d0 1px solid;width:278px;margin-bottom: 30px; height: 38px; position: relative;}
.loginPar label{width:38px;height:38px;background-color:#f3f3f3;float: left;border-right:#d0d0d0 1px solid; }
.loginPar label.loginMobile{background-position: -1px -79px;}
.loginPar label.loginPwd{background-position: -1px  -1px;}
.loginPar.on{border: #f4764e 1px solid;}
.loginPar.on label.loginMobile{background-color: #ffeae3; background-position: -1px -118px;border-right:#f4764e 1px solid;}
.loginPar.on label.loginPwd{background-color: #ffeae3;background-position: -1px -41px;border-right:#f4764e 1px solid;}
.loginInput{float: left;border:0 none;width:225px;padding:6px;height:26px;background: #fff;}
.loginError{left:-2px;bottom:-22px;color: #f5521f}
.loginHandle input{background-position: -47px -124px; width: 12px;height:12px; float: left; margin:1px 6px 0 0;}
.loginHandle label{float: left; line-height: 14px;font-size: 12px; color:#555;}
.loginHandle a{float: right;color: #555;font-size: 12px; line-height: 14px;}
.loginHandle a:hover{color:#f5521f; }
/*找回密码*/
.findPwdStep{margin:50px auto 0;width:960px;border-bottom:#e3e3e3 2px solid;}
.findPwdStep li{border-bottom:#e3e3e3 2px solid; padding:10px 30px; float:left; position:relative; line-height:26px;margin:0 80px -2px;}
.findPwdStep li strong{background:#a0a0a0;color:#fff; font-size:16px;width:25px; height:25px; float:left;text-align:center;border-radius:50%;margin-right:8px;}
.findPwdStep li.cur{border-bottom:#f5521e 2px solid; color:#f5521e}
.findPwdStep li.cur strong{background:#f5521e;}

.findPwdArea{padding:70px 0 150px;text-align:center;width:960px;margin:0 auto;}
.findPwdStepOne,.findPwdStepTwo{width:400px;margin:0 auto;}
.findPwdArea .signupSubBtn{width:280px;margin:50px 0 0 108px;}
.findPwdArea .signupSubBtn.on{background:#f5521e}
.findPwdStepThr img{margin:0 auto 20px;}
.findPwdStepThr a{text-decoration:underline;}

.findPwdSuccess{width:306px;margin:50px auto;}
.findPwdThrText{background-position: -4px -160px; padding-left:68px; float:left;font-size:12px;text-align:left;}
.oGreen{color:#7abf52;font-size:14px;}
.findPwdSuccess a{background:#f5521f; height:30px;line-height:30px;padding:0 10px; float:right; color:#fff;text-decoration:none;margin-top:8px;}
.findPwdSuccess a:hover{opacity:0.8;color:#fff;}

/*用户协议*/
.protocol{padding-left:123px; line-height:20px; height:30px; margin-top:-10px;font-size:12px; color:#999}
.protocol input{width:14px; height:14px; float:left;margin:3px 2px 0 0}
.protocol label{width:auto;margin:0;line-height:20px; }
.protocol a{color:#f5521e}
.argeeProtocol{color:#f5521e;text-decoration:underline;}
.protocolPop{width:100%;height:100%;background:rgba(0,0,0,0.3); position:absolute;left:0;top:0;z-index:999; display:none;}
.protocolText{margin:0 auto; width:920px;padding:20px;background:#fff;border:#ddd 1px solid; position:absolute;top:20px;left:50%;margin-left:-480px;}
.protocolText h2{font-size:18px;text-align:center; height:40px; line-height:40px; font-weight:bold}
.signupSubTitle{padding:30px 0 10px;}
.protocolText h3{font-size:14px;font-weight:bold }
.protocolScroll{overflow-y:auto;padding:0 10px;}
.protocolScroll h3{margin-top:5px;}
.porotolAgreeBtn{text-align:center; margin:10px 0 -10px;}
.porotolAgreeBtn a{height:36px;line-height:36px;background:#f5521e; color:#fff;font-size:16px;padding:0 50px; display:inline-block;margin:0 auto;}
.porotolAgreeBtn a:hover,a.porotolAgreeBtn:hover{opacity:0.8;}
.protocolPopClose{background-color:#f5521e;background-position:8px -244px;width: 40px;height:40px; border:#aa573e 2px solid;border-radius: 50%;position: absolute;right:-17px;top: -17px;}
a.protocolPopClose:hover{-webkit-animation: rotate 0.2s linear;animation: rotate 0.5s linear;}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(180deg);}
}
@keyframes rotate {
  from {transform:rotate(0deg);}
  to {transform:rotate(180deg);}
}
