<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	> <!--  layout:decorator="/parent/layout" -->
<head>
<title>学生水平测试结果</title>
<link rel="stylesheet" th:href="@{/static/parent/css/parenting.css}" />
<style type="text/css">

div {
	text-align: center;
}
div embed {
	width: 1000px;
    height: 584px;
    }
    
.studentexamresult_embed_content {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -292px 0 0 -500px;
    z-index: 99999;
}
</style>
</head>
<body>

	<div  style="margin: 0px auto; text-align:center; padding-top: 20px;height: 600px;" >
		<div th:if="${studentExam._isFoundation() == true}" class="studentexamresult_embed_content">
			<embed src="http://resource.vipkid.com.cn/e_learning/unit0/story.html"></embed>
		</div>
		
		<div th:if="${studentExam._isLevel0() == true}" class="studentexamresult_embed_content">
			<embed src="http://resource.vipkid.com.cn/e_learning/unit0/story.html"></embed>
		</div>
		
		<div th:if="${studentExam._isLevel0() == false and studentExam._isFoundation() == false}" class="studentexamresult_error_content">
			<h2 class="title">错误</h2>
			<p class="error">请勿多次提交结果！</p>
		</div>
	</div>
	
</body>
</html>