<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/home/layout">
<head>
    <title>课程体系 - VIPKID美国小学在家上</title>
</head>
<body>
<section layout:fragment="content">
<div class="focusArea">
	<div class="classTop focusItemThr">
		<img src="http://resource.vipkid.com.cn/newhome/banner03.jpg" />
		<div class="slidefloatdiv">个性、沉浸、自由、趣味<br/>实现线上线下浸入式学习的终极体验</div>
		<a href="/signup" class="slideLink">注册获得免费体验课</a>
	</div>
</div>
<div class="warea">
	<img src="http://resource.vipkid.com.cn/newhome/class_level.jpg" />
</div>
<div class="classArea bgGray">
	<div class="w940 clear">
		<div class="w420 fl">
			<dl class="classWords mb20">
				<dt>趣味学</dt>
				<dd>7个主题星系，84个绚丽星球，1000多个宇宙城市，我们为您的孩子量身打造了有趣的冒险历程，坐上飞船，一边学英语，一边与VIPKID去探索未知的世界！</dd>
				<dd>
在浮岛间穿梭，完成课程内容，获取任务奖励，VIPKID独创游戏化学习系统，寓教于乐，激发孩子自主学习兴趣，扩展孩子想象空间。</dd>
			</dl>
			<ul class="classIcon colorPink">
				<li class="ci01">拯救游乐园星系</li>
				<li class="ci02">帮助美人鱼</li>
				<li class="ci03">帮助太阳</li>
				<li class="ci04">圣诞历险记</li>
			</ul>
		</div>		
		<img src="http://resource.vipkid.com.cn/newhome/class_img1.jpg" class="classPhoto fr"/>
	</div>
</div>
<div class="classArea">
	<div class="w940 clear">
		<img src="http://resource.vipkid.com.cn/newhome/class_img2.jpg" class="classPhoto fl"/>
		<div class="w420 fr">
			<dl class="classWords mb20">
				<dt>个性学</dt>
				<dd>1对1教学顾问服务，随时根据孩子情况调整学习进度，与您一起关怀孩子的成长。</dd>
				<dd>课后教师反馈服务，帮助您了解孩子的课堂情况。</dd>
				<dd>个性化教学提醒服务，通过VIPKID建立的学生档案，老师将为您的孩子制定个性化的学习方案，打造独特的上课体验。</dd>
				<dd>单元测评报告服务，让您全面掌握孩子的学习情况。</dd>
			</dl>
			<ul class="classIcon colorGreen">
				<li class="ci05">教学顾问</li>
				<li class="ci06">反馈体系</li>
				<li class="ci07">单元测评</li>
			</ul>
		</div>	
	</div>
</div>
<div class="classArea bgGray">
	<div class="w940 clear">
		<div class="w420 fl">
			<dl class="classWords mb20">
				<dt>沉浸学</dt>
				<dd>Engage(激发兴趣)，Explore(探索)，Explain(拓展)，Elaborate(巩固)，Excute(执行)，Evaluation(评估)，独创6E闭环学习理念，步步深入，为孩子打下良好基础。</dd>
				<dd>小组选修课，扩展课外知识，让孩子与小伙伴一起愉快学习。</dd>
				<dd>线下家长课堂，为您带来前沿教育理念。</dd>
				<dd>亲子阅读群，与您分享优质绘本，共同创造温馨故事时光。</dd>
			</dl>
			<ul class="classIcon colorOrange">
				<li class="ci08">闭环学习理念</li>
				<li class="ci09">小组选修课</li>
				<li class="ci10">家长课堂</li>
				<li class="ci11">阅读群</li>
			</ul>
		</div>		
		<img src="http://resource.vipkid.com.cn/newhome/class_img3.jpg" class="classPhoto fr"/>
	</div>
</div>
<div class="classArea">
	<div class="w940 clear">
		<img src="http://resource.vipkid.com.cn/newhome/class_img4.jpg" class="classPhoto fl"/>
		<div class="w420 fr">
			<dl class="classWords mb20">
				<dt>自由学</dt>
				<dd>根据孩子认知水平、学习能力和性格特点，自由选择优质老师。</dd>	
				<dd>打破定时上课限制，灵活选择学习时段，每节课仅为20分钟，保证课堂学习效率。</dd>	
				<dd>免去线下机构学习的奔波之苦，自主选择上课地点，节约更多时间享受亲子时光。</dd>	
				<dd>随时回放课堂视频，与孩子一起重温欢乐时光。	</dd>		
			</dl>
			<ul class="classIcon colorPink">
				<li class="ci12">老师自由选</li>
				<li class="ci13">时间地点自由选</li>
				<li class="ci14">回放课堂视频</li>
			</ul>
		</div>	
	</div>
</div>
<div class="warea">
	<img src="http://resource.vipkid.com.cn/newhome/class_system.jpg" />
</div>

<div class="classIntroArea">
	<p class="tTitle tc">课程介绍</p>
	<ul class="classIntroList">
		<li>
			<img src="http://resource.vipkid.com.cn/newhome/class_intro_1.jpg"/>
			<div class="classIntroWord">
				<p><strong>课程名称：</strong><span class="f18">VIPKID北美外教在线一对一正式课程</span></p>
				<p><strong>课程简介：</strong>VIPKID在线课堂，纯正北美外教一对一授课，符合美国小学课程标准！</p>
				<p><strong>课程套餐：</strong><span class="classPackage">3单元 5400元</span><span class="classPackage">6单元 9600元 </span><span class="classPackage">12单元 18200元 </span><span class="classPackage">24单元 31800元 </span></p>
				<p><a href="/signup" class="slideLink">立即获得免费体验课</a></p>
			</div>
		</li>
		<li>
			<img src="http://resource.vipkid.com.cn/newhome/class_intro_2.jpg"/>
			<div class="classIntroWord">
				<p><strong>课程名称：</strong><span class="f18">VIPKID暑期出境游主题北美外教一对一课程</span></p>
				<p><strong>课程简介：</strong>VIPKID为暑期特别定制的主题课程，北美外教一对一传授出境游内容相关英语知识</p>
				<p><strong>课程套餐：</strong><span class="classPackage">全两节课程包</span></p>
				<p><a href="/signup" class="slideLink">查看详情</a></p>
			</div>
		</li>
		<li>
			<img src="http://resource.vipkid.com.cn/newhome/class_intro_3.jpg"/>
			<div class="classIntroWord">
				<p><strong>课程名称：</strong><span class="f18">VIPKID北美外教绘本阅读公开课</span></p>
				<p><strong>课程简介：</strong>VIPKID在线课程，纯正北美外教每周定期阅读经典绘本故事！</p>
				<p><strong>课程套餐：</strong><span class="classPackage">每周两次提前预约</span></p>
				<p><a href="/signup" class="slideLink">查看详情</a></p>
			</div>
		</li>
	</ul>
</div>


<div class="trustArea">
	<div class="trustWords">
		<p class="tTitle">信任与期待</p>
		<ul class="trustList">
			<li>100%满意保证</li>
			<li>30天无条件退款承诺</li>
			<li>付费后，每位学员都会与VIPKID签订一份购买协议，我们向学员保障外教资质和服务水平。</li>
			<li>如果您和小朋友对购买后的课程或服务感到不满意，可以在交费后的30天内向我们提出“无条件退款”申请。</li>
			<li>我们将以最快的速度将未消耗的课时，按照交款方式退还。</li>
		</ul>
	</div>
</div>

<div class="w940">
	
	<ul class="flik clear">
        <li><a href="http://cs.sina.com.pt/minisite/news/2015/0609/1433820107.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink11.jpg" /></a></li>
        <li><a href="http://finance.qq.com/a/20150520/023269.htm" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink12.jpg" /></a></li>
        <li><a href="http://it.sohu.com/20150611/n414810420.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink13.jpg" /></a></li>
        <li><a href="http://news.163.com/15/0609/19/ARMLJ2QP00014AED.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink14.jpg" /></a></li>
        <li><a href="http://www.chinadaily.com.cn/micro-reading/dzh/2015-07-27/content_14036104.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink15.jpg" /></a></li>
        <li><a href="http://www.nbd.com.cn/articles/2015-08-12/937809.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink16.jpg" /></a></li>
        <li><a href="http://www.forbeschina.com/review/201406/0033532.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink17.jpg" /></a></li>
        <li><a href="http://www.36kr.com" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink18.jpg" /></a></li>
        <li style="padding-top:45px;"><a href="http://www.wtoutiao.com/a/242742.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink19.jpg" /></a></li>
        <li class="fljgs"><a href="http://blog.sina.com.cn/s/blog_6dbc86af0101fqn2.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink20.jpg" /></a></li>
        <li class="fljgs"><a href="http://www.jmdedu.com/viewpoint/detail/575" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink21.jpg" /></a></li>
        <li class="fljgs"><a href="http://www.zuojing.com/201403/5045.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink22.jpg" /></a></li>
        <li class="fljgs"><a href="http://cn.technode.com/post/2015-07-09/vipkid/" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink23.jpg" /></a></li>
        <li class="fljgs"><a href="http://fudaoquan.com/p/4864.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink24.jpg" /></a></li>
        <li class="fljgs"><a href="http://power.internet2share.com/?p=754" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink25.png" /></a></li>
    </ul>
</div>

</section>
</body>
</html>