<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>帮助中心 - VIPKID美国小学在家上</title>
    <link href="http://resource.vipkid.com.cn/static/images/learning_portal/logo.gif" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/parent/css/header.css}" />
    <link rel="stylesheet" th:href="@{/static/home/css/help.css}" /> 
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?5e1b9d2c20eff9c9278a43f0870f4593";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>  
</head>
<body>
<div class="sHd">
	<div class="sHdCon">
		<a href="/home" class="sHdLogo"><img src="http://resource.vipkid.com.cn/newhome/logo.png" /></a>
		<span class="sHdTitle">帮助中心</span>
	</div>	
</div>
<div class="helpArea clear">
	<div class="helpLeft">
		<h3>电脑设备及网络问题</h3>
		<ul class="askList">
			<li class="on"><a href="#a1">1. 通过VIPKID上课都需要哪些工具？</a></li>
			<li><a href="#a2">2. 如何安装和使用谷歌浏览器？</a></li>
			<li><a href="#a3">3. 如何检测“在线教室”是否正常？</a></li>
			<li><a href="#a4">4. 在线教室内听不到声音怎么办？</a></li>
			<li><a href="#a5">5. 对方老师听不到我的声音怎么办？ </a></li>
			<li><a href="#a6">6. 对方老师看不到我这边的图像怎么办？ </a></li>
			<li><a href="#a7">7. 网络状况不稳定怎么办？ </a></li>
		</ul>
	</div>
	<div class="helpRight">
		<div class="answerItem" id="a1" name="a1">
			<h4>1. 通过VIPKID上课都需要哪些工具？</h4>
			<p class="strong">需要：1、摄像头（方便和老师实时进行语音和肢体沟通），2、鼠标，3、Type Box软件。</p>
			<ul class="tools clear">
				<li><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/camera.jpg" /><span>摄像头</span></li>
				<li><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/mouse.jpg" /><span>鼠标</span></li>
				<li><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/typebox.jpg" /><span>Type Box软件</span></li>
			</ul>
		</div>
		
		<div class="answerItem"  id="a2" name="a2">
			<h4>2. 如何安装和使用谷歌浏览器？</h4>
			<p class="strong">第一步：</p>
			<p>方式一：百度搜索“谷歌浏览器”。找到百度软件中心的下载链接，取消勾选“安装百度杀毒确保软件安全”后，点击“立即下载”。</p>
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_search_chorme.png" /></p>
			<p>直接打开链接<a href="http://rj.baidu.com/soft/detail/14744.html?ald">http://rj.baidu.com/soft/detail/14744.html?ald</a> ，点击“普通下载”。</p>
			<p class="strong">第二步：</p>
			<p>双击下载后的程序文件，开始自动安装，等待安装成功。在桌面上找到<img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_chorme.png" />图标，双击打开即可使用谷歌浏览器。</p>
		</div>
		
		<div class="answerItem" id="a3" name="a3">
			<h4>3. 如何检测“在线教室”是否正常？</h4>
			<p><span  class="strong">第一步：</span>在VIPKID主页登录后，点击右上角导航栏的“在线教室检测”。或者点击在线教室页面右上角的“在线教室检测”，都能进入在线教室检测页面。</p>
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_onlinetest_guide.png" /></p>
			<p><span  class="strong">第二步：</span>在检测页面里允许检测。</p>
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_onlinetest.png" /></p>
			<p><span  class="strong">第三步：</span>开始检测后，根据提示进行操作即可。等待检测完成后，就能查看检测结果。</p>
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_onlinetest_process.png" /></p>
		</div>
		
		<div class="answerItem" id="a4" name="a4">
			<h4>4. 在线教室内听不到声音怎么办？</h4>
			<p><span  class="strong">第一步：</span>听不到声音一般是扬声器的问题，可能有以下原因——</p>
			<ul class="help_no_voice">
				<li>扬声器或耳机没插好，建议重新插拔一下耳机；</li>
				<li>选择了错误的插口，扬声器插口通常为绿色，建议检查一下是否正确插入；</li>
				<li>扬声器未打开或音量调节过小，建议检查一下电脑的音量设置情况；</li>
				<li>声卡可能存在问题，尝试重启电脑。</li>
			</ul>
			<p><span  class="strong">第二步：</span>完成后刷新教室页面，点击“设置”按钮，进入设置页面，点击“扬声器”，点击“单击开始试听”，检测是否修复成功。</p>
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_enter_class.png" /></p>			
		</div>
		
		<div class="answerItem" id="a5" name="a5">
			<h4>5. 对方老师听不到我的声音怎么办？ </h4>
			<p>可能是因为在线教室里没检测到麦克风。</p>
			<p><span  class="strong">第一步：</span>在桌面右下角找到<img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_video_icon.png" />图标，单击鼠标右键后选择“录音设备”或“录音”；</p>			
			<p><span  class="strong">第二步：</span>在弹出的图框中双击<img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_mac_icon.png" /> 进入麦克风属性界面；</p>
			<p><span  class="strong">第三步：</span>在麦克风属性界面点击“级别”，查看音量设置是否过低或静音。</p>		
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_mac_attr.png" /></p>		
			<p><span  class="strong">第四步：</span>完成后刷新教室页面，点击“设置”按钮，进入设置页面，点击“麦克风”，选择麦克风设备，检测是否修复成功。</p>		
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_mac_result.png" /></p>			
		</div>
		
		<div class="answerItem" id="a6" name="a6">
			<h4>6. 对方老师看不到我这边的图像怎么办？  </h4>
			<p>可能是因为在线教室里没检测到摄像头。</p>
			<p><span  class="strong">第一步：</span>在教室页面单击鼠标右键，然后点击“设置”，然后选择摄像头图标，在下拉菜单中选取您需要使用的摄像头设备。</p>			
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_camera_set.png" /></p>
			<p><span  class="strong">第二步：</span>完成后刷新教室页面，点击“设置”按钮，进入设置页面，点击“视频”，选择“视频设备”以及“视频模式”，检测是否修复成功。</p>
			<p><img src="http://resource.vipkid.com.cn/parent_home/static/home/image/help_video_set.png" /></p>			
		</div>
		
		<div class="answerItem" id="a7" name="a7">
			<h4>7. 网络状况不稳定怎么办？  </h4>
			<p>可能是因为在线教室里没检测到摄像头。</p>
			<p><span  class="strong">第一步：</span>有很多原因会影响到您的网络状况——</p>			
			<ul>
				<li>可能您使用了一些小运营商的网络服务，建议您使用联通或者电信等大运营商的网络服务。</li>
				<li>可能您所在局域网里有其他人在观看视频或者在使用迅雷等工具进行下载等。建议您关闭其他网络视频或文件下载工具。</li>
			</ul>
			<p><span class="strong">第二步：</span>在排除了以上原因后，您还可以进行网络测试，并将结果反馈给我们的技术人员。</p>
					
		</div>
		
	</div>
</div>
<div th:replace="common/footer::footer-simple"></div>
<script th:src="@{/static/lib/jquery/jquery.1.9.1.min.js}"></script>
<script th:src="@{/static/home/js/help.js}"></script>
<script>
	
</script>
</body>
</html>
