<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/home/layout">
<head>
    <title>VIPKID - 让孩子自由地行走于这个星球！</title>
</head>
<body>
<section layout:fragment="content">	
<div class="focusArea">
	<div class="focusWaper">
	    <ul class="focusItem">
	        <li class="focusItemFir"><img src="http://resource.vipkid.com.cn/newhome/omes.jpg" /><div class="slidefloatdiv">开学季多重特惠火热进行，<br/>立即注册了解详情</div><a href="/signup" class="slideLink">注册获得免费体验课</a></li>
	        <li class="focusItemSec"><img src="http://resource.vipkid.com.cn/newhome/banner02.jpg" /><div class="slidefloatdiv">通过互联网，随时随地上课 <br/>自由选择老师</div><a href="/signup" class="slideLink">注册获得免费体验课</a></li>
	        <li class="focusItemThr"><img src="http://resource.vipkid.com.cn/newhome/banner03.jpg" /><div class="slidefloatdiv">个性、沉浸、自由、趣味<br/>实现线上线下浸入式学习的终极体验</div><a href="/signup" class="slideLink">注册获得免费体验课</a></li>
	    </ul>
	    <a class='focusPrevnext focusPrev' href="javascript:;"></a>
	    <a class='focusPrevnext focusNext' href="javascript:;"></a>
	    <ul class="focusNumber"></ul>
	</div>
</div>
<div class="w940">
	<div class="aTitle">我们的优势</div>
	<ul class="advantage clear">
		<li class="advantageOne">
			<p class="advantageTitle">北美优质师资，教学品质保障</p>
			<p>100%北美优质师资，90%名校背景，经过严格的师资甄选、培训、考核、淘汰机制，只留用最优秀的老师，录取率仅为30%。</p>
		</li>
		<li class="advantageTwo">
			<p class="advantageTitle">约课方便，高效学习</p>
			<p>自由选择时间地点，随时约课、上课、查看课程回放，免除线下机构奔波之苦，让孩子有时间进行更多学习探索，享受家庭时光。</p>
		</li>
		<li class="advantageThr">
			<p class="advantageTitle">沉浸式的学习体验</p>
			<p>将教学融入到新奇有趣的分级冒险任务中，通过任务启发孩子不断运用所学知识，潜移默化的完成所学内容的消化吸收。</p>
		</li>
	</ul>
</div>
<div class="teacherArea">
	<div class="w940">
		<div class="wTitle">我们的老师</div>
		<p class="teacherInfo">
			<span class="first">拥有丰富经验的北美外教</span>
			<span>90%的老师来自于世界排名前50的学校</span>
		</p>
		<ul class="teacherList clear">
			<li><img src="http://resource.vipkid.com.cn/newhome/t2.jpg" /><strong>Joseph Turman</strong><p>Joseph老师目前就读于北卡罗来纳大学教堂山分校。他精通英语、法语、西班牙语、阿拉伯语、立陶宛语等多国语言，并拥有多年教授5-6岁小朋友艺术、音乐和手工课程的经验。爱阅读的他，经常在课堂上通过故事来激发孩子的学习兴趣。</p></li>
			<li><img src="http://resource.vipkid.com.cn/newhome/t1.jpg" /><strong>Debbie Whitaker</strong><p>Debbie老师是一名有着35年教学经验的在职美国小学教师。她的本科和硕士学位先后毕业于全美排名第46位的Bucknell大学和排名第18位的Rowan大学。Debbie老师喜爱阅读，也很有耐心。在教学中通过细腻富有情感的讲解，适时对孩子进行引导，令孩子享受到学习的乐趣。</p></li>	
			<li><img src="http://resource.vipkid.com.cn/newhome/t3.jpg" /><strong>Kimberly Grisé</strong><p>Kimberly老师拥有教育语言专业学士和第二语言教育学硕士学位。Kimberly老师年轻时，曾赴古巴参与教学研究，毕业后在加拿大教授儿童英语和非英语母语国家的大学生英语课程。活泼有爱的Kimberly老师非常喜欢和小朋友一起通过音乐和手工学习英语。</p></li>
			<li><img src="http://resource.vipkid.com.cn/newhome/t4.jpg" /><strong>Jojo Francisco</strong><p>来自芝加哥的Jojo老师，毕业于德保罗大学双主修法语和会计。Jojo老师拥有超过24年的教学经验，学生遍及中国、日本、韩国、泰国、俄罗斯、巴西等多个国家。Jojo老师的教学方式可以让孩子充分感受到课堂乐趣，通过轻松愉快的氛围传输正确的价值观和职业道德。</p></li>
		</ul>
		<p class="teacherFoot"><a th:href="@{/teacherteam}" target="_blank" class="weitemBtn">查看更多优秀教师</a></p>
	</div>
</div>
<div class="parentSay">
	<div class="wTitle">VIPKID家长说</div>
	<div class="parentFocus">
		<ul  class="parentItem">
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p1.jpg" />
					<p><span class="f16">甜甜爸爸</span><span>创业投资人</span></p>
				</div>
				<div class="parentWords">
				‘在家上美国小学’的学习方式即快乐又高效。提供了基于家庭环境的更为自由的学习方式，孩子处于放松状态，家长也轻松愉快。基于网络一对一的外教，对于刚进入学习状态的孩子丝毫不存在适应性障碍，孩子非常喜欢她的老师。<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p2.jpg" />
					<p><span class="f16">YOYO妈妈</span><span>外企高管</span></p>
				</div>
				<div class="parentWords">
					相比外教家教2次课1600的节奏，VIPKID的课程便宜太多了！而且免除舟车劳顿，和外教交流家长也不必守在身边，VIPKID太方便了！<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p3.jpg" />
					<p><span class="f16">Tianna妈妈</span><span>大学教师</span></p>
				</div>
				<div class="parentWords">Tianna特别喜欢VIPKID的上课模式，每次在电脑中看见老师来了就‘疯了’！整节课手舞足蹈一直跟着老师说英语。<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p4.jpg" />
					<p><span class="f16">Rachel妈妈</span><span>医疗器械公司高管</span></p>
				</div>
				<div class="parentWords">选择VIPKID本来只是想通过轻松的方式培养Rachel的语感，没想到经过三个月的学习，孩子有了巨大的进步，每次看到Rachel努力和外教沟通的样子，我都特别欣慰！<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p5.jpg" />
					<p><span class="f16">Michelle妈妈</span><span>网络公司高管</span></p>
				</div>
				<div class="parentWords">VIPKID的老师各有千秋，有的幽默，有的特别温柔有耐心，上了几节课，也逐渐找到了Michelle喜欢的老师类型，可以选择孩子喜欢的老师上课这点非常好，Michelle上课越来越积极了！<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p6.jpg" />
					<p><span class="f16">Jerry妈妈</span><span>500强企业HR</span></p>
				</div>
				<div class="parentWords">在VIPKID上课，可以随时回放孩子的学习视频，了解孩子听力、口语和课程理解中的问题，然后交流复习。<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p7.jpg" />
					<p><span class="f16">Penny妈妈</span><span>金融机构培训师</span></p>
				</div>
				<div class="parentWords">VIPKID教学服务非常到位，孩子上课全程有助教老师在监课，有一次误操作把摄像头关了，老师立即打电话过来，帮助恢复了正常授课。有他们在非常放心。<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p8.jpg" />
					<p><span class="f16">Jessica妈妈</span><span>全职妈妈，外企高管</span></p>
				</div>
				<div class="parentWords">这种在本国生活工作的外教给孩子上课，和长期在中国生活的外教是有区别的，他们的口语更加纯正，不会过多估计中国孩子英语基础的条条框框。比如他们夸奖孩子表现好，每个人都喜欢用Awesome！而国内的外教就通常入乡随俗说Great、Wonderful。<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p9.jpg" />
					<p><span class="f16">Coco爸爸</span><span>软件开发工程师</span></p>
				</div>
				<div class="parentWords">VIPKID的外教老师，对待孩子都十分热情，与孩子沟通毫无障碍，充满教学热情。口音清晰，语速也照顾中国孩子的水平，很少在对话中出现较为生僻的词汇和语句用法。<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p10.jpg" />
					<p><span class="f16">James妈妈</span><span>自由撰稿人</span></p>
				</div>
				<div class="parentWords">有一次朋友来家里，正好James在上课，他家儿子上的国际学校一年18万，感觉James的口语和他差不多，我好欣慰啊！<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
			<li>
				<div class="parentAvatar">
					<img src="http://resource.vipkid.com.cn/newhome/p11.jpg" />
					<p><span class="f16">Crystal妈妈</span><span>金融杂志主编</span></p>
				</div>
				<div class="parentWords">时间上也非常灵活，这是外面的很多培训机构没法比的 。我不用担心出去旅游会耽误她的学习，也不用担心上课会耽误她出去玩。最重要的是小朋友自己也非常喜欢，每周三次课可以让她有个持续的学习氛围和环境，这对学习语言很有好处。<i class="ql"></i><i class="qr"></i>
				</div>
			</li>
		</ul>
		<a class='parentPrevnext parentPrev' href="javascript:;"></a>
	    <a class='parentPrevnext parentNext' href="javascript:;"></a>
	    <div class="parentNumber"><ul></ul>/<span></span></div>
	</div>
</div>
<div class="askArea" style="display:none;">
	<div class="w940">
		<div class="aTitle pt20">答家长问</div>
		<p class="askTopimg"><img src="http://resource.vipkid.com.cn/newhome/answerphoto.jpg" /></p>
		<ul class="asklist clear">
			<li class="askItem1"><a href="javascript:;" rel="k0153u97gqv">中、美基础教育主要差别在哪里？</a><i></i></li>
			<li class="askItem2"><a href="javascript:;" rel="m0153gxioqi">我的孩子听不懂外教老师说什么怎么办？</a><i></i></li>
			<li class="askItem3"><a href="javascript:;" rel="c0153xrmgiv">美国小学课程能给孩子带来哪些优势？</a><i></i></li>
			<li class="askItem4"><a href="javascript:;" rel="y01538rabe4">VIPKID使用什么教材？如何评价教材的好坏？</a><i></i></li>
			<li class="askItem5"><a href="javascript:;" rel="t01535izluq">为什么说VIPKID的课程能帮孩子更有效的学习英语？</a><i></i></li>
			<li class="askItem6"><a href="javascript:;" rel="f0153yu84jt">每节课25分钟，时间是不是太短？</a><i></i></li>
			<li class="askItem7"><a href="javascript:;" rel="c0153ybu913">孩子和母语为英语的老师学习，优势在哪里？</a><i></i></li>
			<li class="askItem8"><a href="javascript:;" rel="q0153wgcr15">孩子内向不愿开口说话，怎样看到孩子的进步？</a><i></i></li>
		</ul>
	</div>
</div>
<div class="w940">
	<div class="aTitle">我们相信</div>
	<ul class="webelieve clear">
		<li class="weitemOne">
			<span class="weitemWord">语言不光是孩子与世界沟通的工具，更是一扇接触不同文化的窗口。</span>
			<p class="weitempra"><a href="/signup" class="weitemBtn">注册获得免费体验课</a></p>
		</li>
		<li class="weitemTwo">
			<span class="weitemWord">培养孩子幸福生活的能力，优先于‘知识的积累’。</span>
			<p class="weitempra"><a href="/signup" class="weitemBtn">注册获得免费体验课</a></p>
		</li>
		<li class="weitemThr">
			<span class="weitemWord">给孩子‘探索和试错’的空间，是保护好孩子对学习充满热情的核心。</span>
			<p class="weitempra"><a href="/signup" class="weitemBtn">注册获得免费体验课</a></p>
		</li>
	</ul>
</div>

<div class="trustArea">
	<div class="trustWords">
		<p class="tTitle">信任与期待</p>
		<ul class="trustList">
			<li>100%满意保证</li>
			<li>30天无条件退款承诺</li>
			<li>付费后，每位学员都会与VIPKID签订一份购买协议，我们向学员保障外教资质和服务水平。</li>
			<li>如果您和小朋友对购买后的课程或服务感到不满意，可以在交费后的30天内向我们提出“无条件退款”申请。</li>
			<li>我们将以最快的速度将未消耗的课时，按照交款方式退还。</li>
		</ul>
	</div>
</div>

<div class="w940">
	<div class="aTitle">媒体关注</div>
	<ul class="flik clear">
        <li><a href="http://cs.sina.com.pt/minisite/news/2015/0609/1433820107.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink11.jpg" /></a></li>
        <li><a href="http://finance.qq.com/a/20150520/023269.htm" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink12.jpg" /></a></li>
        <li><a href="http://it.sohu.com/20150611/n414810420.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink13.jpg" /></a></li>
        <li><a href="http://news.163.com/15/0609/19/ARMLJ2QP00014AED.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink14.jpg" /></a></li>
        <li><a href="http://www.chinadaily.com.cn/micro-reading/dzh/2015-07-27/content_14036104.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink15.jpg" /></a></li>
        <li><a href="http://www.nbd.com.cn/articles/2015-08-12/937809.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink16.jpg" /></a></li>
        <li><a href="http://www.forbeschina.com/review/201406/0033532.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink17.jpg" /></a></li>
        <li><a href="http://www.36kr.com" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink18.jpg" /></a></li>
        <li style="padding-top:45px;"><a href="http://www.wtoutiao.com/a/242742.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink19.jpg" /></a></li>
        <li class="fljgs"><a href="http://blog.sina.com.cn/s/blog_6dbc86af0101fqn2.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink20.jpg" /></a></li>
        <li class="fljgs"><a href="http://www.jmdedu.com/viewpoint/detail/575" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink21.jpg" /></a></li>
        <li class="fljgs"><a href="http://www.zuojing.com/201403/5045.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink22.jpg" /></a></li>
        <li class="fljgs"><a href="http://cn.technode.com/post/2015-07-09/vipkid/" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink23.jpg" /></a></li>
        <li class="fljgs"><a href="http://fudaoquan.com/p/4864.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink24.jpg" /></a></li>
        <li class="fljgs"><a href="http://power.internet2share.com/?p=754" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink25.png" /></a></li>
    </ul>
</div>


</section>

	
</body>
</html>