<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>媒体报道 - VIPKID美国小学在家上</title> 
    <link href="http://resource.vipkid.com.cn/static/images/learning_portal/logo.gif" type="image/x-icon" rel="shortcut icon" />  
    <link rel="stylesheet" th:href="@{/static/home/css/login.signup.css}" /> 
    <link rel="stylesheet" th:href="@{/static/home/css/index.css}" />      
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?5e1b9d2c20eff9c9278a43f0870f4593";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
	<div class="sHd">
		<div class="sHdCon">
			<a href="/home" class="sHdLogo"><img src="http://resource.vipkid.com.cn/newhome/logo.png" /></a>
			<span class="sHdTitle">媒体报道</span>
			<span class="sHdLink"><a href="/login">登录</a><span class="sHdLine"></span><a href="/signup">注册</a></span>
		</div>
	</div>
	<div class="aboutBanner"></div>
	<div class="w940 clear">
		<ul class="bootlist">
			<li><a href="/about">关于我们</a></li>
			<li><a href="/contact">联系我们</a></li>
			<li class="cur"><a href="/media">媒体报道</a></li>
		</ul>
		<div class="bootArea">
			<div class="bootAreaTt">媒体报道</div>
			<ul class="mediaList">
				<li>
					<a href="http://www.forbeschina.com/review/201406/0033532.shtml"  target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig1.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall1.jpg" alt="" />
						<h2>福布斯 《VIPKID：小学“1对1”的越洋试验》</h2>
						<p>“互联网教育并非简单地将课堂搬到线上，而是重新构建学习流程、重塑用户体验的过程。我希望把优质的国际教育资源带给中国小朋友，用互联网的思维实现学习流程的再造。更重要的是，我相信，互联网和商业的力量能够帮助我（们）触及教育的本质：因才施教、快乐学习。” <a href="http://www.forbeschina.com/review/201406/0033532.shtml"  target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
				<li>
					<a href="http://www.wtoutiao.com/a/242742.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig2.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall2.jpg" alt="" />
						<h2>创业家杂志 《中美创业大赛之VIPKID &amp; PP租车》</h2>
						<p>VIPKID是大米科技旗下的少儿英语品牌。VIPKID为中国孩子提供原汁原味的1对1美国小学课堂，所有课程由经过TESOL国际资格认证的北美外教在线教授。课程使用美国小学教材Treasure Chest与K12线上学习系统，线上与线下多维结合，帮助学员通过少儿托福考试和SSAT，全面对接美国寄宿制中学和著名大学。<a href="http://www.wtoutiao.com/a/242742.html" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>				
				<li>
					<a href="http://blog.sina.com.cn/s/blog_6dbc86af0101fqn2.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig4.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall4.jpg" alt="" />
						<h2>长江商学院《WE | 《创业家》专访：VIPKID CEO 米雯娟》</h2>
						<p>“我们重点在于建立合理机制和自循环模式，推广受限少，更易规模化；积累的学习数据会成为先行者的有效壁垒；教师经验更易于标准化和推广；教学教研的标准化，可以为学习效果提供长期保证。”米雯娟说。 <a href="http://blog.sina.com.cn/s/blog_6dbc86af0101fqn2.html" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
				<li>
					<a href="http://www.jmdedu.com/viewpoint/detail/575" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig5.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall5.jpg" alt="" />
						<h2>芥末堆 《一个长江女孩的‘可汗教育’梦》</h2>
						<p>美国在线教育的火热一度让大家对可汗教育、Coursera、Udacity这些名字不再陌生，而也有教育界人士曾感叹，为什么中国出不了像他们一样成功的在线教育公司。前段时间获得创新工场数百万元天使投资的VIPKID创始人米雯娟就是心怀“可汗教育”的梦想开始创立VIPKID的。今天就来看看关于VIPKID 创始人米雯娟的采访稿，来细致了解一下她对在线教育的理解以及她创立VIPKID时的出发点。<a href="http://www.jmdedu.com/viewpoint/detail/575" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
				<li>
					<a href="http://tech.163.com/14/0609/16/9UAHEAJH00094ODU.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig6.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall6.jpg" alt="" />
						<h2>网易科技 《VIPKID：小学“1对1”的越洋试验》</h2>
						<p>美国在线教育的火热一度让大家对可汗教育、Coursera、Udacity这些名字不再陌生，而也有教育界人士曾感叹，为什么中国出不了像他们一样成功的在线教育公司。前段时间获得创新工场数百万元天使投资的VIPKID创始人米雯娟就是心怀“可汗教育”的梦想开始创立VIPKID的。今天就来看看关于VIPKID 创始人米雯娟的采访稿，来细致了解一下她对在线教育的理解以及她创立VIPKID时的出发点。 <a href="http://tech.163.com/14/0609/16/9UAHEAJH00094ODU.html" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
				<li>
					<a href="http://v.qq.com/boke/page/o/y/j/o0129h4kmyj.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig7.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall7.jpg" alt="" />
						<h2>黑马大赛《美国硅谷赛 VIPKID 进入前十名》</h2>
						<p>“个性化美国小学课堂，越洋打造 一对一 在线少儿英语辅导。”米雯娟如此定位VIPKID。在她看来，以在线美国小学课程切入的VIPKID，与现有口语培训机构和线下学科英语机构均有本质差异。 <a href="http://v.qq.com/boke/page/o/y/j/o0129h4kmyj.html" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
				<li>
					<a href="http://www.zuojing.com/201403/5045.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig8.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall8.jpg" alt="" />
						<h2>坐井 《VIPKID少儿英语获得创新工场数百万元天使投资》</h2>
						<p>VIPKID成立于2013年，是一个少儿英语学习及教育品牌，主打个性化美国小学课程一对一在线辅导服务，隶属于北京大米未来科技有限公司。该公司日前获得创新工场数百万元天使投资。<a href="http://www.zuojing.com/201403/5045.shtml" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
				<li>
					<a href="http://fudaoquan.com/p/4864.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig9.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall9.jpg" alt="" />
						<h2>辅导圈 《VIPKID：为国内孩子定制的1对1个性化美国小学课堂》</h2>
						<p>VIPKID成立于2013年，是一个少儿英语学习及教育品牌，主打个性化美国小学课程一对一在线辅导服务，隶属于北京大米未来科技有限公司。该公司日前获得创新工场数百万元天使投资。 <a href="http://fudaoquan.com/p/4864.html" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
				<li>
					<a href="http://power.internet2share.com/?p=754" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/mediabig10.jpg" alt="" class="mediaListImg" /></a>
					<div class="mediaListCon">
						<img src="http://resource.vipkid.com.cn/newhome/mediasmall10.jpg" alt="" />
						<h2>Power 《POWER教育活动分享：当前的在线教育的宏观情况》</h2>
						<p>4月12日，由映社internet2share旗下教育POWER主办的首场教育行业线下分享活动在上海全季酒店举行，活动中邀请了来自国内风险投资行业、二级市场券商、国内的教育行业创业者做了非常精彩的分享。今天我们发表下映社internet2share和POWER创始人刘凯的一些行业宏观数据图表（部分内容），仅供大家参考。<a href="http://power.internet2share.com/?p=754" target="_blank">[ 详情 ]</a></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div th:replace="common/footer::footer-normal"></div>
	
	<script type="text/javascript" src="/static/lib/jquery/jquery.1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/home/js/auth/signup.js"></script>
</body>
</html>	
