<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/home/layout">
<head>
    <title>上课流程 - VIPKID美国小学在家上</title>
</head>
<body>
<section layout:fragment="content">
	
<div class="focusArea">
	<div class="classflowTop">
		<img src="http://resource.vipkid.com.cn/newhome/flowtop.jpg" />
		<div class="slidefloatdiv">纯正北美外教在线1对1授课</div>
		<a href="/signup"  class="slideLink">注册获得免费体验课</a>
	</div>
</div>
<div class="w940">
	<p class="cfTitle">加入VIPKID，体验符合美国CCSS标准的少儿英语课程</p>
	<div class="cfArea cfGreen clear">
		<div class="cfAreaTt">
			<strong>入学测试</strong>
			<p>北美外教一对一<br/>提前体验优质课</p>
		</div>
		<dl class="cfAreaItem">
			<dt class="cfdt1">外教测评</dt>
			<dd>来自北美的专业教师</dd>
			<dd>一对一测评形式</dd>
			<dd>真实展现上课流程</dd>
			<dd>多角度评估孩子英语水平</dd>
		</dl>
		<dl class="cfAreaItem">
			<dt class="cfdt2">测评内容</dt>
			<dd>歌曲、游戏等多种课堂形式</dd>
			<dd>帮助零基础孩子建立交流勇气</dd>
			<dd>培养孩子学习兴趣</dd>
			<dd>根据CCSS标准测评英语能力</dd>
		</dl>
		<dl class="cfAreaItem">
			<dt class="cfdt3">测评报告</dt>
			<dd>测评外教撰写评语</dd>
			<dd>图表展示孩子英语水平</dd>
			<dd>课程顾问详细讲解测评结果</dd>
		</dl>
		<dl class="cfAreaItem">
			<dt class="cfdt4">学习方案</dt>
			<dd>科学选取入学等级</dd>
			<dd>量身定制英语学习计划</dd>
			<dd>直观了解等级特点及学习效果</dd>
		</dl>
	</div>
	<div class="cfArea cfOrange clear">
		<div class="cfAreaTt">
			<strong>学习效果</strong>
			<p>紧密追踪每堂课<br/>随时调整提高快</p>
		</div>
		<dl class="cfAreaItem">
			<dt class="cfdt5">课后反馈</dt>
			<dd>任课老师针对课上表现撰写评语</dd>
			<dd>多维度评分体系</dd>
			<dd>回放课堂视频</dd>
			<dd>随时查看孩子学习情况</dd>
		</dl>
		<dl class="cfAreaItem">
			<dt class="cfdt6">单元测评</dt>
			<dd>针对每一单元输出测评报告</dd>
			<dd>全面展现阶段学习效果</dd>
			<dd>图表直观展示进步程度</dd>
			<dd>教学指导老师定期跟踪回访</dd>
		</dl>
		<dl class="cfAreaItem">
			<dt class="cfdt7">个性化辅导</dt>
			<dd>根据阶段测评结果制定学习重点</dd>
			<dd>依据上课情况调整学习进度</dd>
			<dd>多种方式击破学习薄弱点</dd>
			<dd>重点关注关键问题</dd>
		</dl>
	</div>
</div>
<div class="w940 clear">
	<div class="flowLeft">
		<div class="flowArea">
			<div class="flowTitle">立即点击，马上体验北美外教一对一在线测评课程</div>
			<div class="flowStep">
				<p class="mb45">猛戳<a href="/signup">注册获得免费体验课</a>等待课程顾问联系</p>
				<p>登录账号，进入教室开始上课</p>
			</div>
		</div>
		<div class="flowArea" style="display:none;">
			<div class="flowTitle">快来分享VIPKID小学员上课时的欢乐时光</div>
			<ul class="otherStuClass clear">
				<li>
					<p>Maggie  5岁</p>
					<a href="javascript:;" rel="n0137ihuzq9">
						<img src="http://resource.vipkid.com.cn/newhome/stuclass1.jpg"/>
						<i class="teacherVideoIcon"></i>
					</a>
				</li>
				<li>
					<p>Dora 6岁半</p>
					<a href="javascript:;" rel="u0137psloly">
						<img src="http://resource.vipkid.com.cn/newhome/stuclass2.jpg"/>
						<i class="teacherVideoIcon"></i>
					</a>
				</li>
				<li>
					<p>Susie  6岁</p>
					<a href="javascript:;" rel="b0137q1hs57" >
						<img src="http://resource.vipkid.com.cn/newhome/stuclass3.jpg"/>
						<i class="teacherVideoIcon"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="flowArea">
			<div class="flowTitle">参与妙趣亲子活动，家长们速来关注</div>
			<ul class="flowParentAct clear" id="parentActiveArea">
				<li>
					<p class="flowPaTt">外教公开课 | 绘本公开课报名ing</p>
					<p>2015-04-16<span class="flowVipLink">VIPKID英文亲子阅读 </span></p>
					<a href="http://mp.weixin.qq.com/s?__biz=MzA5NDMxODgxNg==&amp;mid=206413778&amp;idx=1&amp;sn=54bd833638e71f8b8d1227f98d2ef471#rd"  target="_blank">
						<p><img src="http://resource.vipkid.com.cn/newhome/processmq101.jpg" /></p>
						<p>阅读全文&gt;</p>	
					</a>				
					<p class="flowPaIcon"></p>
					<div class="flowParentEwm">
						<img src="http://resource.vipkid.com.cn/newhome/processmq102.png" />
						<p>扫描二维码，参与微信活动</p>	
						<p class="flowbackIcon"></p>
					</div>
				</li>
				<li>
					<p class="flowPaTt">Lane专栏｜七个让孩子终生受益的礼貌小习惯</p>
					<p>2015-02-05<span class="flowVipLink">VIPKID英文亲子阅读 </span></p>
					<a href="http://mp.weixin.qq.com/s?__biz=MzA5NDMxODgxNg==&amp;mid=203733618&amp;idx=1&amp;sn=73e0b14c241128b22171058b9066dbab#rd"  target="_blank">
						<p><img src="http://resource.vipkid.com.cn/newhome/processmq201.jpg" /></p>
						<p>阅读全文&gt;</p>	
					</a>				
					<p class="flowPaIcon"></p>
					<div class="flowParentEwm">
						<img src="http://resource.vipkid.com.cn/newhome/processmq202.png" />
						<p>扫描二维码，参与微信活动</p>
						<p class="flowbackIcon"></p>
					</div>
				</li>
				<li>
					<p class="flowPaTt">VIPKID亲子阅读群欢迎您！</p>
					<p>2015-04-27<span class="flowVipLink">VIPKID英文亲子阅读 </span></p>
					<a href="http://mp.weixin.qq.com/s?__biz=MzA5NDMxODgxNg==&amp;mid=206892908&amp;idx=1&amp;sn=72e6fbfc84ca26d0993dc3e573a450f3#rd"  target="_blank">
						<p><img src="http://resource.vipkid.com.cn/newhome/processmq301.png" /></p>
						<p>阅读全文&gt;</p>	
					</a>				
					<p class="flowPaIcon"></p>
					<div class="flowParentEwm">
						<img src="http://resource.vipkid.com.cn/newhome/processmq302.png" />
						<p>扫描二维码，参与微信活动</p>
						<p class="flowbackIcon"></p>
					</div>
				</li>
				
				<li>
					<p class="flowPaTt">五月选修课全新新鲜出炉啦！！</p>
					<p>2015-05-27<span class="flowVipLink">VIPKID英文亲子阅读 </span></p>
					<a href="http://mp.weixin.qq.com/s?__biz=MzA5NDMxODgxNg==&amp;mid=207273080&amp;idx=1&amp;sn=fb117994099fdddd282c7bdcb72a26e3#rd"  target="_blank">
						<p><img src="http://resource.vipkid.com.cn/newhome/processmq401.jpg" /></p>
						<p>阅读全文&gt;</p>	
					</a>				
					<p class="flowPaIcon"></p>
					<div class="flowParentEwm">
						<img src="http://resource.vipkid.com.cn/newhome/processmq402.png" />
						<p>扫描二维码，参与微信活动</p>
						<p class="flowbackIcon"></p>
					</div>
				</li>
				
				<li>
					<p class="flowPaTt">Counting Bugs---ReadingA-Z Level aa</p>
					<p>2015-04-27<span class="flowVipLink">VIPKID英文亲子阅读 </span></p>
					<a href="http://mp.weixin.qq.com/s?__biz=MzA5NDMxODgxNg==&amp;mid=206895473&amp;idx=1&amp;sn=3ff33d8adb65427d36f15ae4eda35408#rd" target="_blank">
						<p><img src="http://resource.vipkid.com.cn/newhome/processmq501.jpg" /></p>
						<p>阅读全文&gt;</p>		
					</a>				
					<p class="flowPaIcon"></p>
					<div class="flowParentEwm">
						<img src="http://resource.vipkid.com.cn/newhome/processmq502.png" />
						<p>扫描二维码，参与微信活动</p>
						<p class="flowbackIcon"></p>
					</div>
				</li>
				
				<li>
					<p class="flowPaTt">The Forest--- ReadingA-Z Level A</p>
					<p>2015-04-27<span class="flowVipLink">VIPKID英文亲子阅读 </span></p>
					<a href="http://mp.weixin.qq.com/s?__biz=MzA5NDMxODgxNg==&amp;mid=206895357&amp;idx=1&amp;sn=aeaf27452754853bc68d263270084daf#rd" target="_blank">
						<p><img src="http://resource.vipkid.com.cn/newhome/processmq601.jpg" /></p>
						<p>阅读全文&gt;</p>		
					</a>			
					<p class="flowPaIcon"></p>
					<div class="flowParentEwm">
						<img src="http://resource.vipkid.com.cn/newhome/processmq602.png" />
						<p>扫描二维码，参与微信活动</p>
						<p class="flowbackIcon"></p>
					</div>
				</li>
				
			</ul>			
		</div>
	</div>
	<div class="flowRight">
		<div class="flowTitle">VIPKID学员动态</div>
		<div class="flowStuActive">
			<ul class="flowStuActiveList">
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/jone.jpg" />
					<strong>注册获得一节免费测评试听课</strong>
					<span>Jone</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/anne.jpg" />
					<strong>完成了测评试听课，获得了1枚勋章</strong>
					<span>Anne</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/alice.jpg" />
					<strong>完成了一节课，赢得了5颗星星</strong>
					<span>Alice</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/fiona.jpg" />
					<strong>完成了一节单元测评课，获得了1枚勋章</strong>
					<span>Fiona</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/jim.jpg" />
					<strong>获得了免费英语测评报告</strong>
					<span>Jim</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/p9.jpg" />
					<strong>获得了单元学习测评报告</strong>
					<span>Dean</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/eva.jpg" />
					<strong>完成了level1的课程，升级啦！</strong>
					<span>Eva</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/ried.jpg" />
					<strong>完成了一节课，赢得了5颗星星</strong>
					<span>Ried</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/emma.png" />
					<strong>用星星币兑换了一艘新飞船</strong>
					<span>Emma</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/mona.png" />
					<strong>注册获得一节免费测评试听课</strong>
					<span>Mona</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/alex.png" />
					<strong>完成了环球大冒险课程，获得了1枚勋章</strong>
					<span>Alex</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/mary.png" />
					<strong>用星星币兑换了一只新宠物</strong>
					<span>Mary</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/jane.png" />
					<strong>完成了新生指导课程，获得了1枚勋章</strong>
					<span>Jane</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/max.png" />
					<strong>完成了测评试听课，获得了1枚勋章</strong>
					<span>Max</span>
				</li>

				<li>
					<img src="http://resource.vipkid.com.cn/newhome/gary.png" />
					<strong>完成了level2的课程，升级啦！</strong>
					<span>Gary</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/sean.png" />
					<strong>用星星币把飞船全新升级啦</strong>
					<span>Sean</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/caroline.png" />
					<strong>完成了一节单元测评课，获得了1枚勋章</strong>
					<span>Caroline</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/vicky.png" />
					<strong>获得了单元学习测评报告</strong>
					<span>Vicky</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/nike.png" />
					<strong>完成了新手课程，获得了1枚勋章</strong>
					<span>Nike</span>
				</li>
				<li>
					<img src="http://resource.vipkid.com.cn/newhome/aaron.png" />
					<strong>完成了一节课，赢得了5颗星星</strong>
					<span>Aaron</span>
				</li>
			</ul>
		</div>
	</div>
</div>
</section>
</body>
</html>