<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>注册 - VIPKID美国小学在家上</title>
<link
	href="http://resource.vipkid.com.cn/static/images/learning_portal/logo.gif"
	type="image/x-icon" rel="shortcut icon" />
<link rel="stylesheet" th:href="@{/static/home/css/login.signup.css?ver20150915}" />
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "//hm.baidu.com/hm.js?5e1b9d2c20eff9c9278a43f0870f4593";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
</head>
<body>
	<div class="sHd">
		<div class="sHdCon">
			<a href="/home" class="sHdLogo"><img
				src="http://resource.vipkid.com.cn/newhome/logo.png" /></a> <span
				class="sHdTitle">注册</span> <span class="sHdLink"><a
				href="/login">登录</a><span class="sHdLine"></span><a href="/signup">注册</a></span>
		</div>
	</div>
	<div class="signupArea">
		<div class="signupContent" id="formbox">
			<div class="signupPar">
				<label for="childrenPhoneNumber">手机号码：</label> <input
					placeholder="请输入您的手机号码" class="reginput" type="text"
					id="childrenPhoneNumber" maxLength="11" />
				<p class="regtips" id="userphonetips"></p>
			</div>

			<div class="signupPar signupYzm">
				<label for="childrenPhoneNumber">图片验证码：</label> <input
					placeholder="请输入图片验证码" class="reginput" type="text"
					id="imgYzmnumber" maxLength="4" />
				<img id="imgCodeButton" class="signupYzmText" th:src="@{/getImageCode}" onclick="getimagecode()"></img>
				<p class="regtips" id="usertpyzmtips"></p>
			</div>
			
			<div class="signupPar signupYzm">
				<label for="childrenPhoneNumber">验证码：</label> <input
					placeholder="请输入短信验证码" class="reginput" type="text"
					id="childrenYzmnumber" maxLength="4" />
				<button id="identifyCodeButton" class="signupYzmText"
					onclick="doGetIdentifyCode()">获取验证码</button>
				<p class="regtips" id="useryzmtips"></p>
			</div>

			<div class="signupPar">
				<label for="childrenPassword">密码：</label> <input
					placeholder="请设置您的登录密码" class="reginput" type="password"
					id="childrenPassword" maxLength="20" />
				<p class="regtips" id="userpwdtips"></p>
			</div>

			<div class="signupPar">
				<label for="cmdcode">推荐人手机号码：</label> <input placeholder="选填推荐人手机号码，没有可不填"
					class="reginput" type="text" id="cmdcode" maxLength="11" />
				<p class="regtips" id="cmdcodetips"></p>
			</div>
			<div class="signupPar protocol">
				<label for="protocolContent">我已阅读并同意</label><a href="javascript:;"
					class="argeeProtocol">《VIPKID用户注册协议》</a>
			</div>
			<div class="signupPar">
				<button class="signupSubBtn" id="regSubmitBtn" onclick="doSignup()">注册</button>
			</div>
		</div>

		<img class="signupImg" src="/static/home/image/signup_img-new.jpg"/>
	</div>
	<div class="protocolPop">
		<div class="protocolText">
			<h2>VIPKID用户注册协议</h2>
			<div class="protocolScroll">
				<h3>1. 特别提示</h3>
				<p>1.1
					VIPKID同意按照本协议的规定及其不时发布的操作规则提供基于互联网以及移动网的相关服务（以下称“网络服务”），为获得网络服务，服务使用人（以下称“用户”）应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击“同意”按钮即表示用户完全接受本协议项下的全部条款。</p>
				<p>1.2
					用户注册成功后，VIPKID将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
				<h3>2. 服务内容</h3>
				<p>2.1
					VIPKID网络服务的具体内容由VIPKID根据实际情况提供，例如1对1在线课程、1对多公开课程、论坛、基于微信服务号的各类服务等。</p>
				<p>2.2
					VIPKID提供的部分网络服务（例如1对1在线课程，精品公开课程等）为收费的网络服务，用户使用收费网络服务需要向VIPKID支付一定的费用。对于收费的网络服务，VIPKID会在用户使用之前给予用户明确的提示，只有用户根据提示确认其愿意支付相关费用，用户才能使用该等收费网络服务。如用户拒绝支付相关费用，则VIPKID有权不向用户提供该等收费网络服务。</p>
				<p>2.3
					用户理解，VIPKID仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。</p>
				<h3>3. 服务变更、中断或终止</h3>
				<p>3.1
					鉴于网络服务的特殊性，用户同意VIPKID网有权随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。如变更、中断或终止的网络服务属于免费网络服务，VIPKID无需通知用户，也无需对任何用户或任何第三方承担任何责任；如变更、中断或终止的网络服务属于收费网络服务，VIPKID应当在变更、中断或终止之前事先通知用户，并应向受影响的用户提供等值的替代性的收费网络服务，如用户不愿意接受替代性的收费网络服务，就该用户已经向VIPKID支付的服务费，VIPKID应当按照该用户实际使用相应收费网络服务的情况扣除相应服务费之后将剩余的服务费退还给该用户。</p>
				<p>3.2
					用户理解，VIPKID需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成收费网络服务在合理时间内的中断，VIPKID无需为此承担任何责任，但VIPKID应尽可能事先进行通告。</p>
				<p>3.3
					如发生下列任何一种情形，VIPKID有权随时中断或终止向用户提供本协议项下的网络服务（包括收费网络服务）而无需对用户或任何第三方承担任何责任：</p>
				<p>3.3.1 用户提供的个人资料不真实；</p>
				<p>3.3.2 用户违反本协议中规定的使用规则；</p>
				<p>3.3.3 用户在使用收费网络服务时未按规定向VIPKID支付相应的服务费。</p>
				<p>3.4
					如用户注册的免费网络服务的帐号在任何连续180日内未实际使用，或者用户注册的收费网络服务的帐号在其订购的收费网络服务的服务期满之后连续180日内未实际使用，则VIPKID有权删除该帐号并停止为该用户提供相关的网络服务。</p>
				<h3>4. 使用规则</h3>
				<p>4.1 用户在申请使用VIPKID网络服务时，必须向VIPKID提供准确的个人资料，如个人资料有任何变动，必须及时更新。</p>
				<p>4.2
					用户不应将其帐号、密码转让或出借予他人使用。如用户发现其帐号遭他人非法使用，应立即通知VIPKID。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，VIPKID不承担任何责任。</p>
				<p>4.3 用户同意VIPKID有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在VIPKID网站的任何页面上投放广告），并且，用户同意接受VIPKID通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。</p>
				<p>4.4
					对于用户通过VIPKID网络服务（包括但不限于论坛、BBS、教育问答）上传到VIPKID网站上可公开获取区域的任何内容，用户同意VIPKID在全世界范围内具有免费的、永久性的、不可撤销的、非独家的和完全再许可的权利和许可，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。</p>
				<p>4.5 用户在使用VIPKID网络服务过程中，必须遵循以下原则：</p>
				<p>4.5.1 遵守中国有关的法律和法规；</p>
				<p>4.5.2 遵守所有与网络服务有关的网络协议、规定和程序；</p>
				<p>4.5.3 不得为任何非法目的而使用网络服务系统；</p>
				<p>4.5.4
					不得以任何形式使用VIPKID网络服务侵犯VIPKID的商业利益，包括并不限于发布非经VIPKID许可的商业广告；</p>
				<p>4.5.5 不得利用VIPKID网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；</p>
				<p>4.5.6
					不得利用VIPKID提供的网络服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
				<p>4.5.7 不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>
				<p>4.5.8 不得利用VIPKID网络服务系统进行任何不利于VIPKID的行为；</p>
				<p>4.6
					VIPKID有权对用户使用VIPKID网络服务的情况进行审查和监督(包括但不限于对用户存储在VIPKID的内容进行审核)，如用户在使用网络服务时违反任何上述规定，VIPKID或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用网络服务的权利）以减轻用户不当行为造成的影响。</p>
				<p>4.7
					VIPKID针对某些特定的VIPKID网络服务的使用通过各种方式（包括但不限于网页公告、电子邮件、短信提醒等）作出的任何声明、通知、警示等内容视为本协议的一部分，用户如使用该等VIPKID网络服务，视为用户同意该等声明、通知、警示的内容。</p>
				<p>4.8 凡用户昵称中出现如下信息者（包括但不限于），论坛有权进行屏蔽、锁定，甚至注销：</p>
				<p>4.8.1.使用严重违反国家法律法律及风序良俗，包含或暗藏反动、色情等信息（含符号、地址等）的昵称；</p>
				<p>4.8.2.使用党和国家领导人、古今中外比较有影响的名人、网络上知名人士的真实姓名、字、号、艺名、笔名、头衔等为昵称；</p>
				<p>4.8.3.使用国家机构、企事业单位、知名公司或品牌的名称及标识为昵称； </p>
				<p>4.8.4.含性别歧视、种族歧视、地域歧视等信息的昵称；</p>
				<p>4.8.5.含自侮辱、猥亵或者对他人进行侮辱、挑衅、漫骂、人身攻击等不文明、不健康信息的昵称；</p>
				<p>4.8.6.含易产生歧义、引起他人误解的信息的昵称； </p>
				<p>4.8.7.未获得VIPKID官方正式许可而使用带有VIPKID相关名称的昵称；</p>
				<p>4.8.8.与VIPKID老师、及社区管理人员的昵称近似或雷同，并可能引起混淆或纠纷的；</p>
				<p>4.8.9.带有明显广告性质的昵称；</p>
				<p>4.8.10.带有其它法律法规以及论坛禁止规则中所包含信息的昵称。</p>
				<h3>5. 知识产权</h3>
				<p>5.1
					VIPKID提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标和/或其它财产所有权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为私人和非商业用途而保存在某台计算机内。VIPKID不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害赔偿，以任何形式，向用户或任何第三方负责。</p>
				<p>5.2
					VIPKID为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图象、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse
					engineer）、反向编译（decompile）或反汇编（disassemble）。</p>
				<h3>6. 隐私保护</h3>
				<p>6.1
					保护用户隐私是VIPKID的一项基本政策，VIPKID保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在VIPKID的非公开内容，但下列情况除外：</p>
				<p>6.1.1 事先获得用户的明确授权；</p>
				<p>6.1.2 根据有关的法律法规要求；</p>
				<p>6.1.3 按照相关政府主管部门的要求；</p>
				<p>6.1.4 为维护社会公众的利益；</p>
				<p>6.1.5 为维护VIPKID的合法权益。</p>
				<p>6.2
					VIPKID可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与VIPKID同等的保护用户隐私的责任，则VIPKID有权将用户的注册资料等提供给该第三方。</p>
				<p>6.3 在不透露单个用户隐私资料的前提下，VIPKID有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
				<h3>7. 免责声明</h3>
				<p>7.1
					用户明确同意其使用VIPKID网络服务所存在的风险将完全由其自己承担；因其使用VIPKID网络服务而产生的一切后果也由其自己承担，VIPKID对用户不承担任何责任。</p>
				<p>7.2
					VIPKID不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</p>
				<p>7.3
					VIPKID不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由VIPKID实际控制的任何网页上的内容，VIPKID不承担任何责任。</p>
				<p>7.4
					对于因不可抗力或VIPKID不能控制的原因造成的网络服务中断或其它缺陷，VIPKID不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
				<p>7.5
					用户同意，对于VIPKID向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，VIPKID无需承担任何责任：</p>
				<p>7.5.1 VIPKID向用户免费提供的各项网络服务；</p>
				<p>7.5.2 VIPKID向用户赠送的任何产品或者服务；</p>
				<p>7.5.3 VIPKID向收费网络服务用户附赠的各种产品或者服务。</p>
				<p>7.6
					VIPKID问吧，问题的回答结果仅依据提问者的描述提供建议性内容，仅供参考。本网教师会员及普通会员仅提供专业性或非专业性知识参考，不做指导性意见。</p>
				<p>7.7
					本网站会员(或网友)所上传的相片、文章或讨论区发言内容，由该会员(或网友)自行对该相片、文章或讨论区发言内容担保其知识性、专业性以及合法性。</p>
				<h3>8. 违约赔偿</h3>
				<p>8.1
					如因VIPKID违反有关法律、法规或本协议项下的任何条款而给用户造成损失，VIPKID同意承担由此造成的损害赔偿责任。</p>
				<p>8.2
					用户同意保障和维护VIPKID及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给VIPKID或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</p>
				<h3>9. 协议修改</h3>
				<p>9.1
					VIPKID有权随时修改本协议的任何条款，一旦本协议的内容发生变动，VIPKID将会直接在VIPKID网站上公布修改之后的协议内容，该公布行为视为VIPKID已经通知用户修改内容。VIPKID也可通过其他适当方式向用户提示修改内容。</p>
				<p>9.2
					如果不同意VIPKID对本协议相关条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受VIPKID对本协议相关条款所做的修改。</p>
				<h3>10. 通知送达</h3>
				<p>10.1
					本协议项下VIPKID对于用户所有的通知均可通过网页公告、电子邮件、手机短信或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p>
				<p>10.2 用户对于VIPKID的通知应当通过VIPKID对外正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。</p>
				<h3>11. 法律管辖</h3>
				<p>11.1 本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。</p>
				<p>11.2
					如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向VIPKID所在地的人民法院提起诉讼。</p>
				<h3>12. 其他规定</h3>
				<p>12.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
				<p>12.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
				<p>12.3 本协议中的标题仅为方便而设，在解释本协议时应被忽略。</p>
				<h2 class="signupSubTitle">VIPKID官网/隐私条款</h2>
				<h3>您的个人资料档案</h3>
				<p>「VIPKID」之所以要求会员个人资料，主要是要提供会员专属的数字学习服务。除非得到您的同意、对于会员个人的数据，我们绝对不会加以泄漏、转售或与其他机构进行交换。您可以随时利用更新个人资料档案来停止这些服务，并随时都可以到个人档案中变更或更新资料，您只要登入并单击「基本数据维护」即可。</p>
				<p>「VIPKID」需索取会员的某些个人资料（如姓名、电子邮件地址、实际地址等），我们需要这些数据以便快速便利为会员提供服务，并不断提升此服务内容以便更能符合使用需求。此外，我们如认为某些第三方能为我们的会员提升相关产品之服务性，则我们可能会让他们使用此类个人资料，第三方包括销售各式产品及服务的企业或公司。但「VIPKID」绝不会提供第三方有关会员个人信用卡上之隐私资料。</p>
				<p>除了索取个人资料外，「VIPKID」还可能向使用者索取其个人简历（如职业、教育、年龄及性别等），以便提升我们的产品、服务、宣传及营销成效。「VIPKID」可能会利用此类个人简历数据，来制作有关用户群的整体报告，此类个人简历资料及整体报告皆为不具名形式，不会包含能识别您个人资料的内容。</p>
				<p>尽管如上所述，「VIPKID」仍有权因下列需求或情况，而公开任何内容、记录或电子通讯等数据；(i)依法配合司法检调机关执行法律上或公务之需求(ii)为强制执行此「合约」、「许可协议」或「使用规定」而需要公开时，或者(iii)为保护「VIPKID」或其使用者或合伙人的权利。</p>
				<h3>安全程度</h3>
				<p>在信用卡数据透过网络传送给我们之前，这些数据都经过我们的安全服务器予以加密处理。在登入时，我们也坚持使用密码认证，避免您的个人资料档案及学习纪录在未经授权的状况下被存取。经开启后之网页持续未使用时，经过一段时间我们会自动将其注销，以保护您数据使用之安全。</p>
				<h3>注册订阅</h3>
				<p>「VIPKID」以具竞争力的价格提供在线学习课程。要使用其中任一项之服务时，您必须成为「VIPKID」 正式会员。如选择以信用卡方式给付费用，您必须要提供信用卡的数据给我们，以便您购买想要之服务产品。我们会将这些数据加密储存在一个安全的服务器中。</p>
				<h3>Cookies</h3>
				<p>我们将您的个人资料之细节储存在计算机的浏览器或硬盘的「cookies」中。我们使用cookies来制定您的国家及使用的语言。我们的cookies并不搜集您计算机浏览器或硬盘上的额外信息。大部分的浏览器都提供避免将您计算机上的数据储存到cookies的选项，不过此种行为将会使您在使用「VIPKID」时少掉部份的便利性。</p>
				<h3>IP地址和浏览器版本</h3>
				<p>我们的网站会记录您计算机的IP地址与浏览器的类型，但我们并不会将这些数据与可以识别您身分的任何东西连结在一起。也就是说我们会追踪会员的使用状况，但使用会员仍然会保持在隐形的状态中。我们记录这些信息的原因，是为了要确认客户使用型态与网站的使用状况，以协助我们改善「VIPKID」的设计与编排格式。</p>
				<h3>他网站的连结</h3>
				<p>这个网站包含了到其他网站的连结。请注意，www.vipkid.com.cn并不负责保护您在其他网站的隐私。我们建议使用者在离开我们的网站时应多加注意，并仔细阅读其他搜集可识别个人身分资料的网站，其有关于隐私权保护的声明。本隐私声明只适用于www.vipkid.com.cn网站所搜集的资料。</p>
				<h3>介绍亲朋好友</h3>
				<p>如果您要介绍亲朋好友到「VIPKID」加入或参与相关之活动的话，请提供您亲友电子邮件地址。然后「VIPKID」就会发一封自动产生的电子邮件给您的朋友，并邀请参观我们的网站。若您的朋友因此成为会员，记录将会视您为介绍者。</p>
				<p>「VIPKID」的隐私权政策，保护条款及其他相关之约定，将会视实际需要作适度修订。如果我们决定改变我们搜集、使用或分享数据的方式时，我们会采取适当的商业步骤，透过电子邮件通知会员并说明更动的原因，亦会让会员自由决定是否同意我们用新方法来使用他们的数据。如果您对这个部分的条款有任何问题，或是对「VIPKID」其他条款或做法有任何问题时，请与我们联络。</p>
				<p>所有与「VIPKID」相关的法律问题，皆相关于VIPKID。</p>
			</div>
			<p class="porotolAgreeBtn">
				<a href="javascript:;">同意并继续</a>
			</p>
			<a href="javascript:;" class="protocolPopClose"></a>
		</div>
	</div>
	<div th:replace="common/footer::footer-simple"></div>
	<script type="text/javascript" src="/static/lib/jquery/jquery.1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/home/js/auth/signup.js"></script>
	<script type="text/javascript" src="http://resource.vipkid.com.cn/static/libraries/security/sha256.js"></script>
	<script th:src="@{/static/lib/jquery/jquery.cookie.js}"></script>
</body>
</html>
