<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/home/layout">
<head>
    <title>外教团队 - VIPKID美国小学在家上</title>
</head>
<body>
<section layout:fragment="content">
<div class="focusArea">
	<div class="teacherTop">
		<img src="http://resource.vipkid.com.cn/newhome/wteachertop.jpg" />
		<div class="slidefloatdiv">
			<p>Now, in my class, you'll learn to think for yourself again. </p>
			<p class="mb10">现在，在我的课上，你们将学习独立思考。</p>
			<p>You'll learn to savor words and language.</p>
			<p class="mb10">你们将学会品尝文字与语言。</p>
			<p>No matter what anyone tells you, words and ideas can change the world.</p>
			<p class="mb10">不论他人怎么说，文字与思想能改变世界。</p>
			<p class="tr">——摘自著名电影《春风化雨》</p>
		</div>
		<a href="/signup" class="slideLink">注册获得免费体验课</a>
	</div>
</div>
<div class="teacherAreaWj">
	<div class="w940">
		<div class="downTitle">优秀的师资，尊贵的服务</div>
		<ul class="teacherIntroItem clear">
		    <li>
				<span class="teacherIcon2"></span>
				<h5>北美外教</h5>
				<p>100%来自于美国、加拿大，众多老师旅居世界各地，熟悉北美文化，拥有国际视野</p>
			</li>
			<li>
				<span class="teacherIcon1"></span>
				<h5>名校毕业</h5>
				<p>90%名校毕业，众多老师来自于哈佛、耶鲁、皇后等国际著名学府</p>
			</li>
			
			<li>
				<span class="teacherIcon3"></span>
				<h5>口音纯正</h5>
				<p>所有老师均经过严格的口语测试，发音标准</p>
			</li>
			<li>
				<span class="teacherIcon4"></span>
				<h5>教师培训</h5>
				<p>均通过严格的教师培训，精通针对中国儿童的教学技巧</p>
			</li>
			<li>
				<span class="teacherIcon5"></span>
				<h5>教学反馈</h5>
				<p>老师每节课后记录教学效果、学生表现，保障家长对学习情况的及时了解</p>
			</li>
			<li>
				<span class="teacherIcon6"></span>
				<h5>教学督导</h5>
				<p>VIPKID具有严格的教学监督机制，教学督导全程跟踪，保障老师的教学质量</p>
			</li>
			<li>
				<span class="teacherIcon7"></span>
				<h5>课堂氛围</h5>
				<p>生动活泼的教学方法，激发学生踊跃表达，参与课堂互动</p>
			</li>
			<li>
				<span class="teacherIcon8"></span>
				<h5>学习效率</h5>
				<p>25分钟的外教1对1课堂，让孩子更加专注高效的学习知识</p>
			</li>
			<li>
				<span class="teacherIcon9"></span>
				<h5>VIP服务</h5>
				<p>多名中教指导老师、教学督导、外教指导老师，围绕您的孩子提供专属贴心服务</p>
			</li>
		</ul>
	</div>
</div>
<div class="w940">
	<div class="downTitle">教师风采</div>
	<div class="teacherVideoMain">
		
	</div>
	<div class="clear mb55">
		<p class="teacherPage">
			<span class="tprev" href="javascript:;"></span>
			<a href="javascript:;" class="cur">1</a> 
			<a href="javascript:;">2</a>
			<a href="javascript:;">3</a>
			<a href="javascript:;">4</a>
			<span class="tnext" href="javascript:;"></span>
		</p>
	</div>
</div>

<div class="trustArea">
	<div class="trustWords">
		<p class="tTitle">信任与期待</p>
		<ul class="trustList">
			<li>100%满意保证</li>
			<li>30天无条件退款承诺</li>
			<li>付费后，每位学员都会与VIPKID签订一份购买协议，我们向学员保障外教资质和服务水平。</li>
			<li>如果您和小朋友对购买后的课程或服务感到不满意，可以在交费后的30天内向我们提出“无条件退款”申请。</li>
			<li>我们将以最快的速度将未消耗的课时，按照交款方式退还。</li>
		</ul>		
	</div>
</div>

<div class="w940">
	
	<ul class="flik clear">
        <li><a href="http://cs.sina.com.pt/minisite/news/2015/0609/1433820107.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink11.jpg" /></a></li>
        <li><a href="http://finance.qq.com/a/20150520/023269.htm" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink12.jpg" /></a></li>
        <li><a href="http://it.sohu.com/20150611/n414810420.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink13.jpg" /></a></li>
        <li><a href="http://news.163.com/15/0609/19/ARMLJ2QP00014AED.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink14.jpg" /></a></li>
        <li><a href="http://www.chinadaily.com.cn/micro-reading/dzh/2015-07-27/content_14036104.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink15.jpg" /></a></li>
        <li><a href="http://www.nbd.com.cn/articles/2015-08-12/937809.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink16.jpg" /></a></li>
        <li><a href="http://www.forbeschina.com/review/201406/0033532.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink17.jpg" /></a></li>
        <li><a href="http://www.36kr.com" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink18.jpg" /></a></li>
        <li style="padding-top:45px;"><a href="http://www.wtoutiao.com/a/242742.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink19.jpg" /></a></li>
        <li class="fljgs"><a href="http://blog.sina.com.cn/s/blog_6dbc86af0101fqn2.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink20.jpg" /></a></li>
        <li class="fljgs"><a href="http://www.jmdedu.com/viewpoint/detail/575" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink21.jpg" /></a></li>
        <li class="fljgs"><a href="http://www.zuojing.com/201403/5045.shtml" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink22.jpg" /></a></li>
        <li class="fljgs"><a href="http://cn.technode.com/post/2015-07-09/vipkid/" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink23.jpg" /></a></li>
        <li class="fljgs"><a href="http://fudaoquan.com/p/4864.html" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink24.jpg" /></a></li>
        <li class="fljgs"><a href="http://power.internet2share.com/?p=754" target="_blank"><img src="http://resource.vipkid.com.cn/newhome/flink25.png" /></a></li>
    </ul>
</div>
</section>
</body>
</html>