<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	  layout:decorator="/home/layout">
<head>
    <title>教学方法 - VIPKID美国小学在家上</title>
</head>
<body>
<section layout:fragment="content">
<div class="focusArea">
	<div class="classflowTop">
		<img src="http://resource.vipkid.com.cn/newhome/teachmethodtop.jpg" />
		<div class="slidefloatdiv">为中国儿童量身打造的<br/>北美小学同步教学</div>
		<a href="/signup"  class="slideLink">注册获得免费体验课</a>
	</div>
</div>
<div class="w940">
	<div class="cfTitle">
		<p class="cfStitle">VIPKID为中国儿童量身打造</p>
		<p>与美国小学CCSS课程标准同步的原版教材</p>
	</div>
	<ul class="teachLevel clear">
		<li class="tv1"><span>语言艺术</span></li>
		<li class="tv2"><span>数学</span></li>
		<li class="tv3"><span>科学</span></li>
		<li class="tv4"><span>独立思考</span></li>
		<li class="tv5"><span>团队协作</span></li>
		<li class="tv6"><span>领导力</span></li>
	</ul>
	<p class="teachDescription">VIPKID结合美国小学CCSS课标体系，专为中国儿童自主研发了全套7个级别，适合5-12岁儿童的英语学科教材。采用美国小学现今的语言整合教育法，将语言艺术、数学、科学等跨学科内容和独立思考、团队协作、领导力等互联网时代技能融入英语学习，并通过学习成果评估体系，全程测评学习效果，培养儿童成为尊重他人、勇于探索、乐观自信、懂得团队协作、有责任感的21世纪小公民。</p>
</div>
<div class="classSet">
	<div class="classSetCon"><img src="http://resource.vipkid.com.cn/newhome/classset.jpg" /></div>
</div>
<div class="trustArea">
	<div class="w940">	
		<p class="cfStitle tc mb20">Learning cycle学习法</p>
		<img src="http://resource.vipkid.com.cn/newhome/classmethod.jpg" />
	</div>
</div>
<div class="ccssInfo clear">
	<img src="http://resource.vipkid.com.cn/newhome/ccssstudyimg.jpg" class="fl" />
	<div class="ccssInfoWord">
		<p class="ccssInfoTt">美国CCSS课程标准</p>
		<p class="ccssInfoStt">—— 强调“能力的培养”</p>
		<p>2010年6月，根据国际社会、未来职场对于人才素质和能力的要求，美国颁布了全美统一的《跨州共同核心课程标准》(CCSS)。CCSS标准旨在培养全世界最优秀的人才，推动美国社会不断进步，提升美国在国际社会的竞争力。CCSS标准直指“工作技能”和“学术素养”，给出各个年级毕业时学生能力的清晰画像，保证学生在基础教育阶段掌握各项必备技能，从而为升入大学和社会生存做好准备。</p>
	</div>
</div>
<div class="ccssAdvantage">
	<p class="cfStitle tc mb20">CCSS标准的优势</p>
	<ul class="ccssAdvantageList clear">
		<li class="ca1"><strong>能力培养</strong>着重培养学生的能力，保证他们从小学到中学及大学掌握各项未来工作和生活所需技能。</li>
		<li class="ca2"><strong>标准统一</strong>为学生提供了统一的要求，中国学生可以参照此标准，接受与美国学生同质量的教育。</li>
		<li class="ca3"><strong>目标一致</strong>CCSS标准让学生、家长和老师在学生的学习目标和发展方向方面保持一致。</li>
	</ul>
</div>
<div class="trustArea">
	<div class="w940">	
		<p class="cfStitle tc mb20">CCSS标准课程示例</p>
		<div class="clear">
			<div class="oregonLeft">
				<p class="f16 mb5">[ 主题 ] 俄勒冈之旅</p>
				<p>学生通过线上线下活动模拟美国历史上的俄勒冈之旅</p>
				<img src="http://resource.vipkid.com.cn/newhome/ehgtravle.jpg" />
			</div>
			<img src="http://resource.vipkid.com.cn/newhome/ccsstable.jpg" class="fr" />
		</div>
		
	</div>
</div>
<div class="ccssInfo">
	<p class="cfStitle tc mb20">能力输出</p>
	<ul class="outputAbility clear">
		<li class="opa1">
			<p class="opaCircle">Respect</p>
			<strong>尊重</strong>
			<p>在 VIPKID， 每个孩子都是一个独立的生命，我们尊重属于他自己的成长空间，培养他们独立思考的能力。</p>
		</li>
		<li class="opa2">
			<p class="opaCircle">Exploration</p>
			<strong>探索</strong>
			<p>VIPKID 给予孩子充分的探索机会，强调让孩子从实践出发，而非从僵硬的书本中学习。</p>
		</li>
		<li class="opa3">
			<p class="opaCircle">Fun</p>
			<strong>乐趣</strong>
			<p>VIPKID 课程使用有趣而富有生命力的学习内容、素材和教学方法，让孩子们的学习充满乐趣!</p>
		</li>
		<li class="opa1">
			<p class="opaCircle">Confidence</p>
			<strong>自信</strong>
			<p>VIPKID 教师充分鼓励学生，让他们了解自己的与众不同，接受自己，喜欢自己。</p>
		</li>
		<li class="opa2">
			<p class="opaCircle">Teamwork</p>
			<strong>团队协作</strong>
			<p>VIPKID 提供丰富的团队活动机会，让孩子体会团队协作的意义，学习团队协作的技能。</p>
		</li>
		<li class="opa3">
			<p class="opaCircle">Responsi<br/>-bility</p>
			<strong>责任</strong>
			<p>VIPKID 鼓励孩子对世界充满好奇，有责任感，相信自己可以让世界变得更好。</p>
		</li>
	</ul>
</div>
</section>
</body>
</html>